.sec-contact-main{
	padding-bottom: 500px;
	@include mq(){
		padding-bottom: 100px;
	}
	.ttl-qa{
		margin-bottom: 100px;
		@include mq(){
			margin-bottom: 50px;
		}
	}
}
.box-form-contact{

}
.question-recent{
	@include font-size(18);
	text-decoration: underline;
	margin-bottom: 90px;
	display: block;
	@include mq(){
		@include font-size(16);
		margin-bottom: 30px;
	}
}
.main-form{
	max-width: 960px;
	.item{
		display: flex;
		margin-bottom: 70px;
		@include mq(lg){
			margin-bottom: 40px;
		}
		@include mq(){
			flex-wrap: wrap;
			margin-bottom: 30px;
		}
		label{
			width: calc(100% - 554px);
			@include font-size(24);
			padding-top: 25px;
			position: relative;
			@include mq(lg){
				width: 35%;
				@include font-size(20);
				padding-top: 10px;
			}
			@include mq(){
				display: inline-block;
				@include font-size(18);
				padding-top: 0;
				width: auto;
				margin-bottom: 15px;
			}
		}
		.input{
			width: 554px;
			@include mq(lg){
				width: 65%;
			}
			@include mq(){
				width: 100%;
			}
			input{
				width: 100%;
				height: 63px;
				border: 2px solid #927351;
				color: #927351;
				padding: 0 50px;
				@include font-size(18);
				outline: 0;
				@include mq(lg){
					height: 50px;
					padding: 0 20px;
				}
				@include mq(){
					@include font-size(16);
					height: 50px;
					padding: 0 20px;
				}
			}
			.input-select{
				display: flex;
				align-items: center;
				width: 100%;
				height: 63px;
				border: 2px solid #927351;
				color: #927351;
				padding: 0 50px;
				@include font-size(18);
				outline: 0;
				cursor: pointer;
				@include mq(lg){
					height: 50px;
					padding: 0 20px;
				}
				@include mq(){
					@include font-size(16);
					height: 50px;
					padding: 0 20px;
				}
			}
			.box-select{
				&-heading{
					display: flex;
					align-items: center;
					width: 100%;
					height: 63px;
					color: #fff;
					background: #927351;
					padding: 0 50px 0 60px;
					@include font-size(18);
					outline: 0;
					cursor: pointer;
					position: relative;
					&:before{
						content: '▼';
						display: block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 30px;
						@include mq(){
							left: 15px;
						}
					}
					@include mq(){
						@include font-size(16);
						padding: 0 20px 0 40px;
					}
				}
				&-content{
					border: 1px solid #927351;
					padding: 27px 31px;
					@include mq(){
						padding: 15px 20px;
					}
					li{
						margin-bottom: 40px;
						background: rgba(#927351, 0.5);
						color: #fff;
						@include font-size(18);
						max-width: 400px;
						border-radius: 10px;
						display: flex;
						align-items: center;
						padding-top: 3px;
						padding-bottom: 3px;
						padding-left: 17px;
						cursor: pointer;
						@include mq(){
							@include font-size(16);
							margin-bottom: 20px;
							padding-left: 15px;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						&:last-of-type{
							margin-bottom: 0;
						}
					}
				}
			}
			textarea{
				width: 100%;
				height: 290px;
				border: 2px solid #927351;
				color: #927351;
				padding: 22px 46px;
				@include font-size(18);
				outline: 0;
				@include mq(){
					height: 250px;
					padding: 15px 20px;
					@include font-size(16);
				}
			}
			.list-option{
				background: #927351;
				padding: 20px 35px 90px;
				color: #fff;
				@include font-size(24);
				line-height: 1.75;
				li{
					cursor: pointer;
					padding-left: 30px;
					position: relative;
					&:before{
						content: '・';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				@include mq(){
					@include font-size(18);
					padding: 15px 20px;
				}
				.note{
					margin-left: 0;
				}
			}
			::-webkit-input-placeholder {
				color: #927351;
				@include font-size(18);
				@include mq(){
					@include font-size(16);
				}
			}
			
			:-ms-input-placeholder {
				color: #927351;
				@include font-size(18);
				@include mq(){
					@include font-size(16);
				}
			}
			
			::placeholder {
				color: #927351;
				@include font-size(18);
				@include mq(){
					@include font-size(16);
				}
			}
		}
		.btn-submit{
			width: 554px;
			margin-right: 0;
			margin-left: auto;
			@include mq(){
				width: 100%;
			}
			button{
				width: 300px;
				height: 50px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				@include font-size(22);
				font-weight: 600;
				outline: 0;
				border: none;
				background: #927351;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 0.3s ease all;
				@include mq(){
					margin: 0 auto;
				}
				&:hover{
					opacity: 0.7;
					transition: 0.3s ease all;
				}
			}
		}
	}
	.note{
		color: #C1272D;
		display: inline-block;
		margin-left: 50px;
		@include mq(lg){
			margin-left: 30px;
		}
		@include mq(){
			margin-left: 20px;
		}
	}
}
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	display: block;
	width: 28px;
	height: 28px;
	cursor:pointer;
	background: #fff;
	border: 1px solid #000;
	position: absolute;
	top: 28px;
	right: 102px;
	@include mq(lg){
		top: 10px;
		right: 50px;
	}
	@include mq(){
		width: 20px;
		height: 20px;
		top: 3px;
		right: -50px;
	}
}
input[type="checkbox"]:checked + label span {
	&:before{
		content: '';
		display: block;
		width: 19px;
		height: 13px;
		background: url("../img/contact/ico-check.svg") no-repeat center;
		background-size: 100% 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include mq(){
			width: 16px;
			height: 10px;
		}
	}
}