.img-mv-greeting{
	position: relative;
	img{
		width: 100%;
		height: calc(100vh - 94px);
		font-family: 'object-fit: cover';
		object-fit: cover;
		@include mq(ipd){
			height: auto;
		}
	}
	.inner{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include v-align;
		.ttl{
			img{
				width: auto;
				height: auto;
				max-height: 80px;
				@include mq(xl){
					max-height: 70px;
				}
				@include mq(sm){
					max-height: 50px;
				}
			}
		}
	}
}

.greeting-detail{
	@include font-size(25);
	color: black;
	line-height: 1.81;
	padding-bottom: 200px;
	letter-spacing: 1.3px;
	@include mq(lp){
		@include font-size(16);
	}
	@include mq(){
		letter-spacing: 0;
		padding-bottom: 50px;
	}
	@include mq(sm){
		@include font-size(14);
	}
	p{
		margin-bottom: 32px;
		@include mq(sm){
			margin-bottom: 20px;
		}
	}
}

.item-greeting{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 46px;
	.item{
		width: 50%;
		@include mq(sm){
			width: 100%;
			img{
				width: 100%;
			}
		}
		&:nth-child(2){
			padding: 0 20px 0 109px;
			@include mq(ipd){
				padding: 0 0 0 50px;
			}
			@include mq(sm){
				max-width: 250px;
				margin: 30px auto 0;
				padding-left: 0;
			}
		}
	}
}
section.sec-greeting {
	padding: 84px 0 0;
	@include mq(xl){
		padding: 50px 0 0;
	}
	@include mq(){
		padding: 0;
	}
}