.headding-mv{
	position: absolute;
	width: 256px;
	height: 256px;
	border-radius: 50%;
	color: #fff;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	background: #780B11;
	bottom: 43px;
	left: 5.4%;
	text-align: center;
	font-weight: 500;
	line-height: 1.55;
	@include font-size(34);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
	@include mq(lg){
		width: 200px;
		height: 200px;
		@include font-size(24);
	}
	@include mq(){
		width: 90px;
		height: 90px;
		bottom: 20px;
		@include font-size(15);
	}
	span{
		font-weight: bold;
		width: 100%;
		display: block;
		@include font-size(42);
		@include mq(lg){
			@include font-size(30);
		}
		@include mq(){
			@include font-size(16);
		}
	}
}

.box-schedule{
	margin-bottom: 118px;
	@include mq(lg){
		margin-bottom: 80px;
	}
	@include mq(){
		margin-bottom: 50px;
	}
	.heading-schedule{
		display: flex;
		align-items: center;
		margin-bottom: 62px;
		@include mq(lg){
			margin-bottom: 50px;
		}
		@include mq(){
			flex-wrap: wrap;
		}
		.img-sd{
			display: inline-block;
			width: 314px;
			padding-right: 30px;
			@include mq(){
				width: 100%;
				padding-right: 0;
				text-align: center;
				margin-bottom: 20px;
				img{
					max-width: 190px;
				}
			}
		}
		.text-sd{
			display: inline-block;
			width: calc(100% - 314px);
			line-height: 1.32;
			margin-top: 10px;
			letter-spacing: 2px;
			@include font-size(50);
			@include mq(lg){
				@include font-size(36);
			}
			@include mq(){
				text-align: center;
				width: 100%;
				@include font-size(24);
			}
		}
	}
	.slider-schedule{
		.slick-prev{
			left: 7px !important;
			z-index: 10;
			top: 49%;
			&:before{
				display: none;
			}
		}
		.slick-next{
			right: 7px !important;
			z-index: 10;
			top: 49%;
			&:before{
				display: none;
			}
		}
		&.slider-nav{
			margin-bottom: 52px;
			@include mq(lg){
				margin-bottom: 40px;
			}
		}
		.slick-list{
			padding: 0 !important;
			margin: 9px -5px;
		}
		.item{
			margin: 0 5px;
			img{
				width: 100%;
			}
		}
	}
	.ttl-slider{
		line-height: 1.5;
		margin-bottom: 19px;
		@include font-size(36);
		@include mq(lg){
			margin-bottom: 12px;
			@include font-size(28);
		}
		@include mq(){
			@include font-size(20);
		}
	}
}
.txtBase03{
	line-height: 2;
	@include font-size(18);
	@include mq(lg){
		line-height: 1.8;
		@include font-size(16);
	}
	@include mq(){
		line-height: 1.5;
		@include font-size(14);
	}
}

.box-access{
	margin-bottom: 200px;
	@include mq(lg){
		margin-bottom: 80px;
	}
	@include mq(){
		margin-bottom: 3px;
	}
	.flex-access{
		display: flex;
		align-items: center;
		@include mq(){
			flex-wrap: wrap;
		}
		.list-access {
			width: 35%;
			@include mq(){
				width: 100%;
			}
			li {
				display: flex;
				align-items: flex-end;
				margin-bottom: 23px;
				justify-content: space-between;
				border-bottom: 2px dashed #000;
				position: relative;
				padding: 0 10px 6px 2px;
				min-height: 53px;
				@include mq(lg) {
					min-height: 43px;
				}
				@include mq {
					min-height: auto;
					margin: 0 0 6px;
				}
				&:before{
					content: '';
					width: 8px;
					height: 8px;
					border-top: 2px solid #000;
					border-right: 2px solid #000;
					position: absolute;
					right: 0;
					bottom: -6px;
					transform: rotate(45deg);
				}
				.ttl {
					line-height: 1.5;
					font-weight: 500;
					@include font-size(20);
					display: inline-flex;
					align-items: flex-end;
					@include mq(lg){
						@include font-size(16);
					}
					img{
						margin-right: 5px;
						@include mq(lg){
							width: 25px;
							height: auto;
						}
					}
				}
				
				.desc {
					font-weight: 500;
					display: inline-flex;
					align-items: flex-end;
					@include font-size(12);
					img {
						margin-right: 5px;
						@include mq(lg){
							width: 20px;
							height: auto;
						}
					}
					.number {
						margin: 0 3px;
					}
				}
			}
			
			&.list-access02 {
				li{
					@include mq(md-min) {
						padding-left: 5px;
					}
					&:before{
						left: 0;
						bottom: -6px;
						border: 0;
						right: auto;
						border-bottom: 2px solid #000;
						border-left: 2px solid #000;
					}
				}
			}
		}
		.img-access{
			width: 30%;
			padding: 0 25px;
			@include mq(){
				width: 100%;
				padding: 25px;
				text-align: center;
				img{
					max-width: 200px;
				}
			}
		}
	}
}

.box-information{
	margin-bottom: 230px;
	@include mq(lg){
		margin-bottom: 80px;
	}
	@include mq(){
		margin-bottom: 50px;
	}
}
.table-info{
	dl{
		display: flex;
		padding: 14px 0 15px;
		border-bottom: 1px dashed #907351;
		&:last-child{
			@include mq(lg-min){
				padding-bottom: 72px;
			}
		}
		dt{
			width: 36.5%;
			padding:  0 20px 0 7px;
			@include mq(){
				width: 40%;
				padding:  0 15px 0 0px;
			}
		}
		dd{
			width: 63.5%;
			@include mq() {
				width: 60%;
			}
			a{
				color: #000;
			}
			ul{
				display: flex;
				flex-wrap: wrap;
				margin: 0 -3px;
				li{
					display: inline-block;
					color: #fff;
					border-radius: 10px;
					padding:  3px 10px;
					margin-right: 7px;
					line-height: 1.3;
					margin-bottom: 7px;
					background: #907351;
					@include font-size(15);
					@include mq(lg){
						@include font-size(14);
					}
					@include mq() {
						@include font-size(13);
					}
				}
			}
		}
		dt,dd{
			line-height: 1.86;
			@include font-size(15);
			@include mq(lg){
				@include font-size(14);
			}
			@include mq() {
				@include font-size(13);
			}
		}
	}
}
.ttl-info{
	padding-bottom: 20px;
	margin-bottom: 16px;
	line-height: 1.3;
	letter-spacing: 1.7px;
	border-bottom: 2px solid #907351;
	@include font-size(25);
	@include mq(lg){
		@include font-size(20);
	}
	@include mq() {
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-width: 1px;
		@include font-size(18);
	}
}
.list-room{
	margin-bottom: 350px;
	@include mq(xl) {
		margin-bottom: 200px;
	}
	@include mq(lg) {
		margin-bottom: 100px;
	}
	@include mq {
		margin-bottom: 50px;
	}
	.item-room{
		margin-bottom: 233px;
		@include mq(lg){
			margin-bottom: 100px;
		}
		@include mq() {
			margin-bottom: 50px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.box-room{
	.flex-room{
		display: flex;
		margin-bottom: 74px;
		@include mq(lg){
			margin-bottom: 50px;
		}
		@include mq() {
			flex-wrap: wrap;
			margin-bottom: 65px;
		}
		.img{
			width: 45%;
			@include mq() {
				width: 100%;
				margin-bottom: 15px;
			}
			img{
				width: 100%;
			}
		}
		.text{
			width: 55%;
			margin-top: -5px;
			padding-left: 41px;
			@include mq(lg){
				padding-left: 30px;
			}
			@include mq() {
				padding-left: 0;
				width: 100%;
				margin-top: 0;
			}
			p{
				line-height: 1.76;
				margin-bottom: 30px;
				letter-spacing: -1.5px;
				@include font-size(17);
				@include mq() {
					line-height: 1.5;
					@include font-size(15);
				}
			}
			.note{
				display: block;
				margin-top: 20px;
				letter-spacing: -1.75px;
				@include font-size(15);
				@include mq() {
					letter-spacing: -0.5px;
					@include font-size(13);
				}
			}
		}
	}
}

.btn-style02{
	a{
		font-weight: bold;
		border-radius: 5px;
		color: #fff;
		display: block;
		text-align: center;
		background: #907351;
		max-width: 328px;
		width: 100%;
		padding: 14px 10px 10px;
		@include font-size(25);
		position: relative;
		@include mq(lg){
			padding: 10px 10px 8px;
			@include font-size(20);
		}
		@include mq() {
			max-width: 280px;
			margin: 0 auto;
			padding: 8px 10px 6px;
			@include font-size(16);
		}
		&:before{
			content: '';
			width: 15px;
			height: 50px;
			background: url("../img/hostel-02/icon-btn.png") no-repeat;
			background-size: contain;
			background-position: center center;
			position: absolute;
			top: -60px;
			left: 50%;
			transform: translateX(-50%);
			@include mq() {
				width: 12px;
				top: -50px;
			}
		}
	}
}

.box-ggmap{
	margin-bottom: 150px;
	@include mq(lg){
		margin-bottom: 80px;
	}
	p{
		margin-bottom: 40px;
		line-height: 1.76;
		display: flex;
		@include font-size(25);
		@include mq(lg){
			margin-bottom: 25px;
			@include font-size(20);
		}
		@include mq() {
			line-height: 1.5;
			@include font-size(15);
		}
		span{
			display: inline-block;
			&:nth-child(1){
				width: 115px;
				@include mq() {
					width: 100px;
				}
			}
			&:nth-child(2){
				width: calc(100% - 115px);
				@include mq() {
					width: calc(100% - 100px);
				}
			}
		}
	}
	.gg-map{
		margin-bottom: 40px;
		@include mq() {
			margin-bottom: 30px;
		}
		iframe{
			@include mq() {
				height: 250px !important;
			}
		}
	}
}

.txt-contact{
	margin-bottom: 120px;
	line-height: 1.6;
	@include font-size(30);
	@include mq(lg){
		margin-bottom: 80px;
		@include font-size(24);
	}
	@include mq() {
		margin-bottom: 50px;
		line-height: 1.5;
		@include font-size(18);
	}
	a{
		color: #000;
	}
}

.img-instagram{
	margin-bottom: 240px;
	@include mq(lg){
		margin-bottom: 100px;
	}
	@include mq() {
		margin-bottom: 50px;
	}
}

.even-list-02 {
	margin-bottom: 335px;
	@include mq(xl) {
		margin-bottom: 200px;
	}
	@include mq(lg) {
		margin-bottom: 100px;
	}
	@include mq {
		margin-bottom: 50px;
	}
}