.txtBase01{
	 color: #000000;
	line-height: 2.4;
	letter-spacing: 1px;
	 @include font-size(22);
	@include mq(xl){
		line-height: 1.8;
		@include font-size(18);
	}
	@include mq(lg){
		letter-spacing: 0;
		@include font-size(16);
	}
	@include mq(){
		line-height: 1.5;
		@include font-size(14);
	}
 }
.txtBase02{
	color: #000000;
	line-height: 1.9;
	letter-spacing: 1px;
	margin-bottom: 137px;
	@include font-size(28);
	@include mq(xl){
		line-height: 1.8;
		margin-bottom: 80px;
		@include font-size(20);
	}
	@include mq(lg){
		letter-spacing: 0;
		@include font-size(16);
	}
	@include mq(){
		line-height: 1.5;
		@include font-size(14);
	}
}

.sec-hostel{
	padding: 100px 0;
	@include mq(xl){
		padding: 80px 0;
	}
	@include mq(lg){
		padding: 0px;
	}
	.txtBase01{
		margin-bottom: 220px;
		@include mq(xl){
			margin-bottom: 100px;
		}
		@include mq(){
			margin-bottom: 50px;
		}
	}
}

.ttl-style01{
	padding-bottom: 15px;
	line-height: 1.2;
	border-bottom: 2px solid rgba(139, 115, 81, 0.3);
	position: relative;
	letter-spacing: 3.3px;
	margin: 0 -60px 95px 0;
	@include font-size(40);
	@media only screen and (max-width: 1260px) {
		margin: 0 0 50px;
		letter-spacing: 2px;
		padding-bottom: 10px;
		@include font-size(28);
	}
	@include mq(){
		letter-spacing: -1px;
		margin-bottom: 35px;
		@include font-size(20);
	}
	span{
		position: absolute;
		right: 75px;
		bottom: 5px;
		@media only screen and (max-width: 1260px) {
			right: 15px;
		}
		@include mq(){
			right: 5px;
			bottom: 10px;
			width: 65px;
		}
		img{
			@include mq(lg){
				width: 130px;
			}
			@include mq(){
				width: 65px;
			}
		}
	}
	small{
		display: block;
		margin-bottom: 22px;
		@include font-size(26);
		@include mq(xl){
			margin-bottom: 10px;
			@include font-size(20);
			@include mq(){
				@include font-size(18);
			}
		}
	}
}

.list-hostel{
	display: flex;
	margin: 0 -30px 163px;
	@include mq(xl){
		margin: 0 -15px 80px;
	}
	@include mq(){
		flex-wrap: wrap;
		margin: 0 -8px 50px;
	}
	li{
		width: 25%;
		padding: 0 30px;
		text-align: center;
		@include mq(xl){
			padding: 0 8px;
		}
		@include mq(){
			width: 50%;
			margin-bottom: 30px;
		}
		span{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background: #907351;
			box-shadow: 1px 5px 11px 0 rgba(#000,0.2);
			color: #FFFFFF;
			line-height: 1.6;
			@include font-size(22);
			@include mq(xl){
				@include font-size(18);
			}
			@include mq(lg){
				width: 150px;
				height: 150px;
				padding: 10px;
				@include font-size(16);
			}
			@include mq(){
				width: 130px;
				height: 130px;
				letter-spacing: -0.5px;
			}
		}
	}
}

.flex-hostel{
	display: flex;
	align-items: flex-start;
	margin-bottom: 152px;
	@include mq(xl){
		margin-bottom: 80px;
	}
	@include mq(){
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.img-hostel{
		position: relative;
		width: 40%;
		img{
			width: 100%;
		}
		@include mq(){
			width: 100%;
			margin-bottom: 20px;
		}
		.ttl-img{
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			color: #fff;
			background: #9D9D9D;
			transform: translate(-50%,-50%);
			padding: 10px;
			display: inline-block;
			width: 70%;
			@include font-size(40);
			@include mq(xl){
				@include font-size(24);
			}
			@include mq(){
				@include font-size(20);
			}
		}
	}
	.text-hostel{
		width: 60%;
		padding-left: 39px;
		max-width: 612px;
		@include mq(xl){
			padding-left: 25px;
		}
		@include mq(){
			padding-left: 0;
			width: 100%;
		}
		.ttl{
			line-height: 1.2;
			padding-bottom: 22px;
			margin-bottom: 12px;
			letter-spacing: 1.2px;
			border-bottom: 1px solid #807351;
			@include font-size(31);
			@include mq(xl){
				padding-bottom: 10px;
				margin-bottom: 10px;
				@include font-size(24);
			}
			@include mq(){
				margin-bottom: 15px;
				@include font-size(20);
			}
		}
		.txtBase01{
			margin-bottom: 0;
			line-height: 2.46;
			@include mq(xl){
				line-height: 1.8;
			}
			@include mq(){
				line-height: 1.5;
			}
		}
	}
}

.sec-plan{
	.ttl-style01{
		@include mq(xl-min){
			margin-bottom: 150px;
		}
	}
	.list-img-plan{
		margin-bottom: 257px;
		@include mq(xl){
			margin-bottom: 100px;
		}
		@include mq(){
			margin-bottom: 50px;
		}
		li{
			margin-bottom: 85px;
			@include mq(){
				margin-bottom: 35px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.box-plan{
	margin-bottom: 253px;
	@include mq(xl){
		margin-bottom: 80px;
	}
	@include mq(){
		margin-bottom: 50px;
	}
}

.flex-plan{
	display: flex;
	margin-bottom: 121px;
	@include mq(xl){
		margin-bottom: 80px;
	}
	@include mq(){
		margin-bottom: 50px;
	}
	.img-plan{
		width: 50%;
		&:nth-child(1){
			@include mq(xl){
				img{
					width: 80%;
				}
			}
		}
	}
}

.ttl-style03{
	margin-bottom: 172px;
	@include font-size(40);
	@include mq(xl){
		margin-bottom: 60px;
		@include font-size(28);
	}
	@include mq() {
		text-align: center;
		margin-bottom: 35px;
		@include font-size(20);
	}
	span{
		display: inline-block;
		padding-bottom: 10px;
		border-bottom: 5px solid rgba(#907351,0.6);
		@include mq(xl){
			border-width: 3px;
		}
		@include mq() {
			border-width: 2px;
		}
	}
}

.sec-staff{
	padding-bottom: 150px;
	@include mq(xl){
		padding-bottom: 80px;
	}
	@include mq() {
		padding-bottom: 50px;
	}
}

.ttl-style04{
	padding-left: 25px;
	margin-bottom: 66px;
	letter-spacing: 3px;
	position: relative;
	line-height: 1.2;
	@include mq(xl){
		padding-left: 15px;
		margin-bottom: 40px;
		letter-spacing: 1px;
	}
	&:before{
		content: '';
		width: 11px;
		height: 84px;
		background: #907351;
		top: 0;
		position: absolute;
		left: 0;
		@include mq(xl){
			width: 5px;
			height: 60px;
		}
	}
	span{
		display: block;
		margin-bottom: 15px;
		@include font-size(20);
		@include mq(xl){
			margin-bottom: 8px;
			@include font-size(18);
		}
	}
	@include font-size(40);
	@include mq(xl){
		@include font-size(28);
	}
}

.list-point{
	margin-bottom: 510px;
	@include mq(xl) {
		margin-bottom: 250px;
	}
	@include mq(lg) {
		margin-bottom: 100px;
	}
	@include mq {
		margin-bottom: 50px;
	}
	.item{
		margin-bottom: 250px;
		@include mq(xl){
			margin-bottom: 80px;
		}
		@include mq() {
			margin-bottom: 50px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.flex-ttl{
			display: flex;
			align-items: flex-end;
			margin: 0 -15px 100px;
			@include mq(xl){
				margin-bottom: 50px;
			}
			.point-ttl{
				width: 338px;
				letter-spacing: 4px;
				padding-top: 19px;
				height: 270px;
				background: #907351;
				color: #fff;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				align-content: center;
				justify-content: center;
				line-height: 1;
				font-family: $font-mincho;
				@include font-size(41);
				@include mq(xl){
					width: 150px;
					height: 150px;
					@include font-size(28);
				}
				@include mq() {
					width: 100px;
					height: 100px;
					padding: 10px;
					letter-spacing: 1px;
					@include font-size(20);
				}
				span{
					width: 100%;
					text-align: center;
					margin-top: 20px;
					@include font-size(106);
					@include mq(xl){
						margin-top: 10px;
						@include font-size(60);
					}
					@include mq() {
						@include font-size(50);
					}
				}
			}
			small{
				width: calc(100% - 338px);
				position: relative;
				@include mq(xl){
					width: calc(100% - 150px);
					img{
						height: 100px;
						width: auto;
						@include mq() {
							height: 50px;
						}
					}
				}
				@include mq() {
					width: calc(100% - 100px);
				}
				//&:after{
				//	content: '';
				//	width: 37%;
				//	height: 2px;
				//	background: rgba(144, 115, 81, 0.5);
				//	bottom: 0;
				//	right: 0;
				//	position: absolute;
				//	@include mq(xl){
				//		height: 1px;
				//		width: 50%;
				//	}
				//	@include mq(lg){
				//		background: rgba(144, 115, 81, 0.2);
				//	}
				//}
			}
		}
		.flex-point{
			display: flex;
			padding: 0 0px 0 50px;
			@include mq(xl){
				padding: 0;
			}
			@include mq() {
				padding: 0 15px;
				flex-wrap: wrap-reverse;
			}
			.mw-txt{
				max-width: 450px;
				@include mq() {
					max-width: 100%;
				}
			}
			.text-point{
				width: 56%;
				padding-right: 35px;
				padding-left: 57px;
				@include mq(xl){
					padding-left: 30px;
					padding-right: 30px;
				}
				@include mq() {
					width: 100%;
					padding: 0;
				}
				.ttl{
					margin-bottom: 32px;
					line-height: 1.2;
					letter-spacing: 1px;
					@include font-size(50);
					@include mq(xl){
						margin-bottom: 20px;
						@include font-size(36);
					}
					@include mq() {
						margin-bottom: 12px;
						@include font-size(26);
					}
				}
				.txtBase01{
					line-height: 1.875;
					@include mq(xl){
						line-height: 1.8;
					}
					@include mq() {
						line-height: 1.6;
					}
				}
			}
			.img-point{
				width: 44%;
				@include mq() {
					width: 100%;
					margin-bottom: 20px;
				}
				img{
					width: 100%;
				}
			}
		}
	}
}

.list-staff{
	display: flex;
	margin: 0 -45px;
	@include mq(xl){
		margin: 0 -15px;
	}
	@include mq() {
		flex-wrap: wrap;
		margin: 0;
	}
	.item{
		width: 25%;
		padding: 0 45px;
		@include mq(xl){
			padding: 0 15px;
		}
		@include mq() {
			width: 100%;
			padding: 0;
			margin-bottom: 35px;
		}
		&:last-child{
			@include mq() {
				margin-bottom: 0;
			}
		}
		img{
			margin-bottom: 40px;
			width: 100%;
			@include mq(xl){
				margin-bottom: 15px;
			}
		}
		.ttl-staff{
			margin-bottom: 20px;
			letter-spacing: 0.5px;
			@include font-size(14);
			@include mq(xl){
				margin-bottom: 15px;
			}
			@include mq() {
				@include font-size(18);
				margin-bottom: 12px;
			}
		}
		p{
			line-height: 1.7;
			@include font-size(10);
			@include mq() {
				line-height: 1.5;
				@include font-size(14);
			}
		}
	}
}

.lg-pc{
	@include mq(lg){
		display: none;
	}
}



