/* ====================================================
Base style & container
==================================================== */

body {
	color: black;
	font-family: $font-KozGoPro-Regular;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	overflow-x: hidden;
}

.inner {
	display: block;
	max-width: 1105px;
	padding: 0 15px;
	margin: 0 auto;
	&.inner-1080{
		max-width: 1110px;
	}
	&.inner-1280{
		max-width: 1310px;
	}
}


.clearfix {
	*zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.pc {
	@include mq {
		display: none;
	}
}
.sp {
	@include mq(md-min) {
		display: none;
	}
}


//header
#header{
	background: #8A7351;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	.inner{
		max-width: 1280px;
		padding: 0 35px 0 30px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		@include mq(xl){
			padding: 0 15px;
		}
		@include mq(ipd){
			justify-content: flex-start;
			padding: 15px;
		}
	}
	.plat{
		display: inline-block;
		position: absolute;
		left: 41px;
		top: 33px;
		@include smooth-transition;
		@include mq(xl){
			max-width: 300px;
			left: 15px;
		}
		@include mq(ipd){
			display: none;
		}
	}
	.logo{
		position: relative;
		z-index: 99;
		@include mq(sm){
			img{
				max-height: 40px;
			}
		}
	}
	.logo-plat{
		display: inline-block;
		margin-right: 55px;
		position: relative;
		z-index: 99;
		@include smooth-transition;
		opacity: 0;
		visibility: hidden;
		@include mq(xl){
			margin-right: 30px;
		}
		@include mq(ipd){
			opacity: 1;
			visibility: visible;
		}
		&.greeting{
			opacity: 1;
			visibility: visible;
		}
		@include mq(sm){
			img{
				max-height: 40px;
			}
		}
	}
	&.header-fix{
		.plat{
			opacity: 0;
			visibility: hidden;
		}
		.logo-plat{
			opacity: 1;
			visibility: visible;
		}
	}
	.nav-menu{
		margin-left: 57px;
		position: relative;
		z-index: 1;
		@include mq(ipd){
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			background: #8A7351;
			margin-left: 0;
			align-items: center;
			justify-content: center;
			display: none;
			&.active{
				display: flex;
			}
		}
		@include mq(sm){
			align-items: flex-start;
			padding-top: 100px;
		}
		.show-menu{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@include mq(ipd){
				display: block;
				min-width: 200px;
			}
			>.item{
				line-height: 1;
				@include mq(ipd){
					border-bottom: 1px solid white;
				}
				>a{
					color: white;
					display: block;
					@include font-size(14);
					padding: 40px 18px;
					@include mq(xl){
						padding: 40px 10px;
					}
					@include mq(ipd){
						padding: 20px 0;
						@include font-size(16);
						text-align: center;
					}
					@include mq(sm){
						padding: 15px 0;
					}
				}
				&.active,&:hover{
					>a{
						background: #A1803D;
						opacity: 1;
					}
				}
				&.language{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					@include mq(ipd){
						border-bottom: none;
					}
					.language-bock{
						width: 145px;
						margin-left: 35px;
						@include mq(ipd){
							margin: 20px auto;
						}
						span{
							display: flex;
							text-align: center;
							flex-wrap: wrap;
							justify-content: center;
							width: 100%;
							margin-bottom: 8px;
							position: relative;
							top: -5px;
							a{
								padding: 2px 18px;
								&.en{
									@include font-size(14);
									padding-right: 0;
									color: white;
								}
								&.jp{
									@include font-size(15);
									border-right: 1px solid white;
									padding-left: 0;
								}
								&.active{
									color: #A6823D;
								}
								&:hover{
									background: none;
									opacity: 0.7;
								}
							}
						}
						.contact-item{
							display: block;
							background: white;
							@include font-size(10);
							color: #8A7351;
							text-align: center;
							border-radius: 10px;
							line-height: 1;
							padding: 5px 0;
						}
					}
				}
			}
		}
	}
	.mobile-icon {
		width: 30px;
		height: 30px;
		-webkit-transition: background .5s;
		-o-transition: background .5s;
		transition: background .5s;
		position: absolute;
		right: 15px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(ipd){
			display: block;
		}
		span{
			position: absolute;
			top: 50%;
			@include h-align;
			display: block;
			width: 100%;
			height: 3px;
			margin-top: -2px;
			background-color: white;
			font-size: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: white;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -2px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -3px;
			}
		}
		&.mobile-close span {
			background-color: transparent;
			&:before,&:after{
				width: 100%;
				background: #fff;
			}
			&:before {
				-webkit-transform: translateY(0) rotate(45deg);
				transform: translateY(0) rotate(45deg);
				top: 2px;
			}
			&:after {
				-webkit-transform: translateY(0) rotate(-45deg);
				transform: translateY(0) rotate(-45deg);
				bottom: -2px;
			}
		}
	}
}


//footer
#footer{
	background: #907351;
	color: white;
	padding: 20px 0;
	.inner{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		max-width: 1215px;
		.logo-footer{
			display: inline-block;
			@include mq(){
				display: block;
				text-align: center;
				width: 100%;
				img{
					display: block;
					margin: 0 auto 20px;
				}
			}
		}
		.menu-footer{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@include mq(){
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			.item{
				padding: 0 15px;
				@include mq(){
					margin-bottom: 10px;
				}
				&.facebook-item{
					padding-left: 50px;
				}
				a{
					@include font-size(12);
					color: white;
					font-weight: bold;
				}
			}
		}
	}
}


html.is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body{
		-webkit-overflow-scrolling: auto;
	}
}


.breadcrumb {
	@include font-size(15);
	font-weight: bold;
	margin-bottom: 67px;
	@include mq {
		@include font-size(13);
		margin-bottom: 50px;
	}
	.inner * {
		color: inherit;
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}