.mb-0 {
	margin-bottom: 0 !important;
}
.sec-list {
	margin-bottom: 220px;
	@include mq(xl) {
		margin-bottom: 100px;
	}
	@include mq {
		margin-bottom: 50px;
	}
}

.hostel-block {
	position: relative;
	padding-left: 17.1875%;
	@include mq {
		padding-left: 8%;
	}
	@include mq(xs) {
		padding-left: 0;
	}
	
	&:before {
		position: absolute;
		content: '';
		width: 17.1875%;
		top: 0;
		left: 0;
		bottom: 0;
		background: url("../img/list/list-bg.png") repeat-y;
		background-size: 100% auto;
		@include mq {
			width: 8%;
		}
	}
	
	&_list {
		width: 87.45%;
		padding: 108px 0 0 70px;
		@include mq(xl) {
			padding: 80px 0 0 30px;
		}
		@include mq(lg) {
			width: 100%;
			padding-left: 15px;
			padding-top: 50px;
		}
	}
	&_item {
		margin-bottom: 86px;
		@include mq {
			margin-bottom: 50px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&_head {
		border-bottom: 2px solid #000;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 46px;
		padding: 0 0 17px 14px;
		@include mq(xl) {
			padding-left: 0;
			margin-bottom: 30px;
			align-items: flex-start;
		}
		@include mq {
			margin-bottom: 15px;
			border-width: 1px;
			padding-bottom: 10px;
		}
	}
	&_date {
		font-family: $font-bebas;
		@include font-size(40);
		line-height: 1.25;
		width: 260px;
		@include mq(xl) {
			@include font-size(40);
			width: 200px;
			line-height: 1;
		}
		@include mq {
			@include font-size(20);
			width: 100px;
		}
		small {
			font-family: $font-KozGoPro-Regular;
			@include font-size(26);
			vertical-align: middle;
			@include mq(xl) {
				@include font-size(22);
			}
			@include mq {
				@include font-size(12);
			}
		}
	}
	&_ttl {
		@include font-size(30);
		width: calc(100% - 260px);
		@include mq(xl) {
			@include font-size(24);
			width: calc(100% - 200px);
		}
		@include mq {
			@include font-size(16);
			width: calc(100% - 100px);
		}
	}
	&_body {
		width: 100%;
		max-width: 795px;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: row-reverse;
	}
	&_img {
		width: 27.673%;
		margin-left: auto;
		@include mq {
			width: 60%;
			margin: 0 auto 15px;
			max-width: 220px;
		}
	}
	&_content {
		width: 67.3%;
		@include mq(lg) {
			width: 70%;
		}
		@include mq {
			width: 100%;
		}
	}
	&_top {
		border-bottom: 1px solid #000000;
		display: flex;
		align-items: center;
		padding: 0 10px 24px 8px;
		margin-bottom: 25px;
		@include font-size(31);
		line-height: 1.5;
		@include mq(xl) {
			@include font-size(23);
		}
		@include mq {
			@include font-size(18);
		}
		p {
			width: 66.3%;
			padding-left: 15px;
			letter-spacing: 1.2px;
		}
	}
	
	&_logo {
		width: 33.6%;
	}
	&_txt {
		@include font-size(18);
		line-height: 1.575;
		padding-left: 9px;
		margin-bottom: 23px;
		@include mq(xl) {
			@include font-size(15);
		}
		@include mq {
			@include font-size(14);
		}
		p {
			display: flex;
		}
		
		span {
			width: calc(100% - 125px);
			@include mq(xl) {
				width: calc(100% - 95px);
			}
		}
		.ttl {
			width: 125px;
			@include mq(xl) {
				width: 95px;
			}
		}
	}
	&_btn {
		margin-left: 6px;
	}
}
.sec-search {
	margin-bottom: 246px;
	@include mq(xl) {
		margin-bottom: 100px;
	}
	@include mq {
		margin-bottom: 50px;
	}
}

.search {
	&_ttl {
		margin-bottom: 59px;
		@include mq {
			margin-bottom: 30px;
		}
	}
	&-box {
		margin-bottom: 123px;
		@include mq(xl) {
			margin-bottom: 80px;
		}
		@include mq {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&_ttl {
			background: #8E7351;
			border-radius: 18px;
			margin-bottom: 60px;
			@include font-size(34);
			color: #fff;
			padding: 20px 10px 13px 57px;
			@include mq(xl) {
				@include font-size(28);
				padding: 10px 10px 10px 30px;
				margin-bottom: 40px;
			}
			@include mq(lg) {
				@include font-size(20);
				margin-bottom: 30px;
			}
			@include mq {
				@include font-size(18);
			}
			img {
				margin: -11px 14px 0 0;
				@include mq(xl) {
					max-width: 30px;
					margin-top: -6px;
					margin-right: 8px;
				}
				@include mq {
					max-width: 25px;
				}
			}
		}
		&_list {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			margin: 0 -10px;
			@include mq(sm) {
				margin: 0;
			}
		}
		&_item {
			@include font-size(23);
			text-align: center;
			width: 33.33%;
			padding: 0 10px;
			margin-bottom: 22px;
			letter-spacing: -1px;
			@include mq(xl) {
				@include font-size(20);
			}
			@include mq(lg) {
				width: 50%;
			}
			@include mq {
				@include font-size(16);
			}
			@include mq(sm) {
				width: 100%;
				padding: 0;
				margin-bottom: 10px;
			}
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				min-height: 90px;
				padding: 8px 17px 0 0;
				background: #fff;
				border-left: 11px solid rgba(139,115,81,0.3);
				color: inherit;
				box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
				@include mq(lg) {
					min-height: 70px;
					padding-top: 0;
					padding-right: 5px;
					border-width: 5px;
				}
				@include mq(sm) {
					min-height: 50px;
				}
			}
		}
	}
}