

/* ====================================================
MODULE
==================================================== */

/*パンくずMODULE*/
a{
	text-decoration: none;
	@include smooth-transition;
	&:hover{
		opacity: 0.7;
	}
}
strong{
	font-weight: bold;
}
.breadcrumb {
	
}

.heading{
	&-page{

	}
	&-block{
		display: block;
		position: relative;
		line-height: 1;
		padding-left: 25px;
		font-weight: 500;
		margin-bottom: 33px;
		padding-bottom: 15px;
		@include mq(xl){
			padding-left: 15px;
		}
		@include mq(ipd){
			margin-bottom: 30px;
		}
		&.border{
			border-bottom: 1px solid #907351;
			@include mq(md-min){
				margin-bottom: 150px;
				padding-bottom: 26px;
				&:before{
					bottom: 25px;
				}
			}
		}
		&:before{
			content: "";
			width: 10px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 15px;
			background: #907351;
			@include mq(xl){
				width: 5px;
			}
		}
		span{
			display: block;
			color: #231815;
			&.jp{
				@include font-size(20);
				margin-bottom: 23px;
				@include mq(xl){
					@include font-size(16);
				}
				@include mq(sm){
					margin-bottom: 15px;
					@include font-size(14);
				}
			}
			&.en{
				@include font-size(40);
				letter-spacing: 2px;
				@include mq(xl){
					@include font-size(34);
					letter-spacing: 1px;
				}
				@include mq(sm){
					@include font-size(26);
				}
			}
		}
	}
	&-item{

	}
}
.ttl-heading{

}


/*見出しMODULE*/
.ttlCom01 {

}

.ttlCom02 {

}

.ttlCom03 {

}
.ttl_type01 {

}
.ttl_type02{

}
.ttl_type03{

}
/*テキストMODULE*/

.txt{
	&-basic{

	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-left {
		text-align: left;
	}
}


/*リンクMODULE*/
.linkCmn {
	
}

/*ボタンMODULE*/
.btn {

}
.btn_type01{

}
.btn-type02 {
	display: block;
	width: 100%;
	max-width: 224px;
	background: #8E7351;
	@include font-size(22);
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 22px 10px 16px;
}

/*リストMODULE*/
.listOption {
	
}

/*ボックスMODULE*/
.boxReading{
	
}

/*グリッドMODULE*/
.gridCom {
	
}

/*フォームMODULE*/
.dl.form dl,dt,dd {
	
}

.bg{
	&-green{
		background: #EDA289 !important;
	}
	&-gray{
		background: #7A7B78 !important;
	}
}

.hidden{
	display: none !important;
}