.sec-mv {
	margin-bottom: 112px;
	@include mq(lg) {
		margin-bottom: 70px;
	}
	@include mq {
		margin-bottom: 50px;
	}
}
.mv {
	&_ttl {
		img {
			width: 100%;
		}
	}
}

.inner-1180 {
	max-width: 1210px;
}

.sec-news {

}
.block-content {
	&-second {
		@include mq(xl-min) {
			.content-left {
				width: 72.27%;
				margin: 0;
				max-width: 809px;
				padding: 0 15px 0 0;
			}
			.content-right {
				width: 23.73%;
				margin-left: auto;
				padding: 0;
			}
		}
	}
}
.news {
	&-second {
		@include mq(xl-min) {
			margin-bottom: 267px;
		}
		.item {
			border-color: #8E7351;
			@include mq(xl-min) {
				margin-bottom: 58px;
				padding-bottom: 46px;
				.ttl {
					align-items: flex-start;
					margin-bottom: 25px;
					.note {
						width: 170px;
						padding: 6px 2px 0 0px;
					}
					.link {
						width: calc(100% - 170px);
						padding-left: 30px;
						.date {
							margin-bottom: 10px;
						}
					}
				}
				p {
					line-height: 1.61;
				}
			}
		}
	}
	&-box {
	
	}
}
.heading-block {
	position: relative;
	&_link {
		position: absolute;
		right: 0;
		@include font-size(20);
		font-weight: bold;
		color: #231815;
		padding: 0 0 0 26px;
		bottom: 14px;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: -2px;
			border-left: 17px solid #231815;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}
}
.even-list {
	&-second {
		@include mq(sm-min) {
			.item {
				margin-bottom: 30px;
			}
		}
		@include mq(xl-min) {
			margin-bottom: 215px;
			.item {
				margin-bottom: 73px;
				.ttl {
					margin-bottom: 19px;
				}
				.img {
					margin-bottom: 14px;
				}
				.txt-basic {
					.note {
						margin-bottom: 11px;
					}
					.ttl-item {
						padding-bottom: 9px;
						margin-bottom: 7px;
					}
				}
			}
		}
	}
}

.box-cate {
	color: #231815;
	margin-bottom: 25px;
	&_ttl {
		@include font-size(20);
		font-weight: bold;
		border-bottom: 3px solid #8E7351;
		padding: 1px 0 4px;
		margin-bottom: 6px;
		@include mq {
			@include font-size(16);
			border-width: 2px;
		}
	}
}
.list-cate {
	a {
		display: block;
		border-bottom: 1px dashed #8E7351;
		color: inherit;
		font-weight: bold;
		@include font-size(15);
		padding: 10px 0 7px;
		@include mq {
			@include font-size(13);
		}
		span {
			margin-right: 8px;
		}
	}
}