.news-detail {
	&_head {
		border-bottom: 1px dotted #8E7351;
		padding-bottom: 7px;
		margin-bottom: 59px;
		@include mq {
			margin-bottom: 30px;
		}
	}
	&_date {
		@include font-size(20);
		display: block;
		margin-bottom: 3px;
		@include mq(lg) {
			@include font-size(18);
		}
		@include mq() {
			@include font-size(15);
		}
	}
	&_ttl {
		@include font-size(34.5);
		line-height: 1.75;
		@include mq(lg) {
			@include font-size(28);
		}
		@include mq {
			@include font-size(22);
			line-height: 1.5;
		}
	}
	&_body {
		@include font-size(22);
		line-height: 1.56;
		margin-bottom: 200px;
		@include mq(lg) {
			@include font-size(20);
			margin-bottom: 120px;
		}
		@include mq {
			@include font-size(15);
			line-height: 1.5;
			margin-bottom: 50px;
		}
		P {
			margin-bottom: 50px;
			@include mq {
				margin-bottom: 30px;
			}
		}
		img {
			margin: 119px 0 175px;
			@include mq(xl) {
				margin: 50px 0 80px;
			}
			@include mq {
				margin: 20px 0 50px;
			}
		}
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&_f {
		border-top: 1px dotted #8E7351;
		padding-top: 60px;
		margin-bottom: 200px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include mq(lg) {
			margin-bottom: 120px;
		}
		@include mq {
			margin-bottom: 50px;
			padding-top: 30px;
		}
	}
	&_logo {
		text-align: center;
		width: 36.9%;
		@include mq {
			width: 25%;
		}
	}
	&_txt {
		@include font-size(28);
		margin-left: auto;
		width: 59%;
		padding-bottom: 5px;
		@include mq(lg) {
			@include font-size(24);
		}
		@include mq {
			@include font-size(18);
			width: 75%;
			padding-left: 25px;
		}
		small {
			@include font-size(24);
			display: block;
			margin-bottom: 15px;
			@include mq(lg) {
				@include font-size(20);
			}
			@include mq {
				@include font-size(16);
				margin-bottom: 5px;
			}
		}
	}
}