.img-mv-qa{
	.ttl{
		max-width: 24.14%;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.sec-qa-main{
	padding-bottom: 123px;
	padding-top: 80px;
	@include mq(){
		padding-top: 0;
		padding-bottom: 50px;
	}
}
.ttl-qa{
	@include font-size(40);
	color: #231815;
	border-left: 10px solid #927351;
	padding-left: 20px;
	margin-bottom: 50px;
	line-height: 1;
	@include mq(){
		@include font-size(30);
		padding-left: 15px;
		margin-bottom: 25px;
		border-width: 5px;
	}
	small{
		@include font-size(20);
		display: block;
		margin-bottom: 24px;
		@include mq(){
			@include font-size(16);
			margin-bottom: 5px;
		}
	}
}
.box-list-qa{
	.item{
		margin-bottom: 50px;
		@include mq(){
			margin-bottom: 15px;
		}
		.question{
			padding: 12px 30px;
			background: #927351;
			border-radius: 20px;
			display: flex;
			align-items: center;
			@include mq(){
				padding: 10px 20px;
			}
			.number{
				@include font-size(40);
				display: inline-block;
				color: #fff;
				width: 13.5%;
				@include mq(){
					width: 25%;
					@include font-size(30);
				}
			}
			.txt{
				width: calc(100% - 13.5%);
				@include font-size(22);
				color: #fff;
				@include mq(){
					width: 75%;
					@include font-size(18);
				}
			}
		}
		.answer{
			background: #fff;
			box-shadow: 3px 3px 5px rgba(#000, 0.5);
			padding: 18px 30px 30px;
			@include mq(){
				padding: 15px;
			}
			&_heading{
				position: relative;
				padding-bottom: 5px;
				margin-bottom: 12px;
				display: flex;
				align-items: center;
				@include mq(){
					padding-bottom: 0;
					margin-bottom: 10px;
				}
				&:after{
					content: '';
					width: 527px;
					height: 2px;
					background: rgba(#927351, 0.5);
					position: absolute;
					bottom: 0;
					left: 0;
					@include mq(){
						width: 85%;
					}
				}
				.number{
					@include font-size(40);
					display: inline-block;
					color: #927351;
					width: 13.5%;
					@include mq(){
						@include font-size(30);
						width: 25%;
					}
				}
				.txt{
					@include font-size(25);
					color: #927351;
					width: calc(100% - 13.5%);
					@include mq(){
						@include font-size(20);
						width: 75%;
					}
				}
			}
			&_content{
				.box-txt{
					@include font-size(22);
					line-height: 1.7;
					padding-left: 140px;
					@include mq(){
						padding-left: 0;
						@include font-size(16);
					}
				}
				.list-chart{
					display: flex;
					margin: 60px -30px 60px -30px;
					padding: 0 20px;
					@include mq(){
						padding: 0;
						margin: 20px -15px 20px -15px;
					}
					@include mq(sm){
						flex-wrap: wrap;
						padding: 0;
						margin: 0;
					}
					.item{
						width: 33.33%;
						padding: 0 30px;
						@include mq(){
							padding: 0 15px;
						}
						@include mq(sm){
							width: 100%;
							padding: 0;
							margin-bottom: 30px;
						}
						&_ttl{
							@include font-size(15);
							display: block;
							margin-bottom: 30px;
							@include mq(){
								@include font-size(13);
							}
						}
					}
				}
			}
		}
	}
}