<ul class="sidebar">
	<li>
		<a href="">
			<img src="<%= RELATIVE_PATH %>img/index/searach-item.png" alt="img">
		</a>
	</li>
	<li>
		<img src="<%= RELATIVE_PATH %>img/index/img-demo.png" alt="img">
	</li>
	<li>
		<a href="">
			<img src="<%= RELATIVE_PATH %>img/index/mail-contact.png" alt="img">
		</a>
	</li>
	<li>
		<div class="box-cate">
			<h3 class="box-cate_ttl">
				カテゴリー
			</h3>
			<div class="list-cate">
				<div class="list-cate_item">
					<a href="#">
						<span>トピックス</span>（0）
					</a>
				</div>
				<div class="list-cate_item">
					<a href="#">
						<span>ニュース</span>（0）
					</a>
				</div>
				<div class="list-cate_item">
					<a href="#">
						<span>メディア情報</span>（0）
					</a>
				</div>
			</div>
		</div>
		<div class="page">
			<img src="<%= RELATIVE_PATH %>img/index/page.png" alt="img">
		</div>
	</li>
</ul>