<main class="page-<%= pageData.template %>">
	<section class="sec-visual">
		<img style="width: 100%;" src="<%= RELATIVE_PATH %>img/hostel/mv.png" alt="img">
	</section>
	<section class="sec-hostel">
		<div class="inner">
			<p class="txtBase01">
				ホステルとは <br>
				一般的には、2段ベッドのドミトリールーム（相部屋）があり、シャワーやトイレなどの水回り<br
						class="lg-pc">が共用で、ホテルに比べて低価格で宿泊できるように考えられた宿泊施設のことです。共用の<br class="lg-pc">ラウンジなどがあり、宿泊者同士の交流が積極的に図られることが多いのも特徴です。<br>
				ホテル不足や、訪日外国人観光客の増加により、インバウンドのバックパッカー等をメインター<br class="lg-pc">ゲットとしたホステルが日本にも次々と誕生しています。
			</p>
			<h1 class="ttl-style01">
				plat hostel keikyu とは？
				<span>
                <img src="<%= RELATIVE_PATH %>img/hostel/img-01.png" alt="plat hostel keikyu とは？">
            </span>
			</h1>
			<p class="txtBase02">
				plat hostel keikyuは、ホステルのイメージを変えたいと考えています。<br>
				女性に優しいプチ贅沢の宿、家族で気軽に泊まれる宿、カップルにもゆったりと、<br class="lg-pc">
				コミュニケーションを取りたい一人旅も。
			</p>
			<ul class="list-hostel">
				<li>
                    <span>
                        女性に優しい<br>
                        プチ贅沢の宿
                    </span>
				</li>
				<li>
                    <span>
                        家族で気軽に<br>
                        泊まれる宿
                    </span>
				</li>
				<li>
                    <span>
                        カップルにも<br>
                        ゆったり
                    </span>
				</li>
				<li>
					<span>一人旅の方にも</span>
				</li>
			</ul>
			<div class="flex-hostel">
				<div class="img-hostel">
					<img src="<%= RELATIVE_PATH %>img/hostel/img-13.png" alt="我が家のようなくつろぎを。">
					<span class="ttl-img">写真セレクト</span>
				</div>
				<div class="text-hostel">
					<h2 class="ttl">我が家のようなくつろぎを。</h2>
					<p class="txtBase01">
						plat hostel
						はお客様のご利用シーンを想定し、色々な方のニーズに寄り添ってゾーニング・プランニングすることで、それぞれのペースや距離感で宿泊して頂ける提案型のホステルとなっております。<br>
						従来のホステルの形にとらわれず、またビジネス中心でもなく、自分の家のようにくつろげるホステルとして、丁寧に心を込めて創り上げることをお約束します。
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sec-plan">
		<div class="inner">
			<h2 class="ttl-style01">
				<small>ご利用シーンに合わせた</small>
				“ゾーニングプラン”
				<span><img src="<%= RELATIVE_PATH %>img/hostel/img-01.png" alt="ゾーニングプラン"></span>
			</h2>
			<ul class="list-img-plan">
				<li>
					<img src="<%= RELATIVE_PATH %>img/hostel/img-03.png" alt="ゾーニングプラン">
				</li>
				<li>
					<img src="<%= RELATIVE_PATH %>img/hostel/img-04.png" alt="ゾーニングプラン">
				</li>
			</ul>
			<div class="box-plan">
				<h3 class="ttl-style03">
					<span>plat hostel keikyu<br class="sp">ならではの特徴</span>
				</h3>
				<div class="flex-plan">
					<div class="img-plan">
						<img src="<%= RELATIVE_PATH %>img/hostel/img-05.png" alt="plat hostel keikyuならではの特徴">
					</div>
					<div class="img-plan">
						<img src="<%= RELATIVE_PATH %>img/hostel/img-02.jpg" alt="plat hostel keikyuならではの特徴">
					</div>
				</div>
				<p class="txtBase01">
					plat hostel keikyuには、ホステルごとの特色があり、<br class="lg-pc">
					その特色をロゴのカラーに反映させています。<br>
					例えば、１号店のasakusa karinでは、高級木材である「カリン」を床材に使用しており、<br class="lg-pc">
					デザインの特徴を色で表現しています。<br>
					そして、レールが繋がっていくように、ホステル間の連携も行って参ります。<br>
					リピート割引やplat cup（宿泊者とスタッフでのカード・ボードゲームイベント）を実施致します<br class="lg-pc">
					その他の施設の特徴はホステル一覧よりご確認ください。
				</p>
			</div>
		</div>
		<div class="inner inner-1280">
			<div class="box-plan">
				<div class="inner">
					<h3 class="ttl-style03">
						<span>plat hostel keikyu<br class="sp">が大切にしている3つのこと</span>
					</h3>
				</div>
				<div class="list-point">
					<div class="item">
						<div class="flex-ttl">
							<div class="point-ttl">
								point
								<span>1</span>
							</div>
							<small>
								<img src="<%= RELATIVE_PATH %>img/hostel/img-ttl.png" alt="point">
							</small>
						</div>
						<div class="flex-point">
							<div class="text-point">
								<div class="mw-txt">
									<h3 class="ttl">community</h3>
									<p class="txtBase01">
										お客様同士、お客様とスタッフとのコミュニケーションを大切にしています。<br>
										各ホステルには、コミュニケーションツールとしてチョークボードを用意しており、情報交換を行っています。<br>
										また、任意参加の季節のイベントやのplat cupを開催し、交流を促進しています。
									</p>
								</div>
							</div>
							<div class="img-point">
								<img src="<%= RELATIVE_PATH %>img/hostel/img-06.png" alt="community">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="flex-ttl">
							<div class="point-ttl">
								point
								<span>2</span>
							</div>
							<small>
								<img src="<%= RELATIVE_PATH %>img/hostel/img-ttl.png" alt="point">
							</small>
						</div>
						
						<div class="flex-point">
							<div class="text-point">
								<div class="mw-txt">
									<h3 class="ttl">safe and secure</h3>
									<p class="txtBase01">
										防犯カメラの設置やセキュリティーサービスの導入、女性専用の水回りを設けることにより、女性おひとりでも安心して泊まれるホステルを目指しています。
									</p>
								</div>
							</div>
							<div class="img-point">
								<img src="<%= RELATIVE_PATH %>img/hostel/img-07.png" alt="safe and secure">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="flex-ttl">
							<div class="point-ttl">
								point
								<span>3</span>
							</div>
							<small>
								<img src="<%= RELATIVE_PATH %>img/hostel/img-ttl.png" alt="point">
							</small>
						</div>
						<div class="flex-point">
							<div class="text-point">
								<div class="mw-txt">
									<h3 class="ttl">hospitality</h3>
									<p class="txtBase01">
										お客様に快適に過ごして頂けるよう、スタッフのステップアップ制度を設け、育成に力を入れています。
										おかげさまで、お客様からサンクスメッセージを頂いたり、各予約サイトの口コミで高い評価を頂いております。
									</p>
								</div>
							</div>
							<div class="img-point">
								<img src="<%= RELATIVE_PATH %>img/hostel/img-07.png" alt="hospitality">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sec-staff">
		<div class="inner">
			<h2 class="heading-block">
				<span class="jp">スタッフ紹介</span>
				<span class="en">Staff</span>
			</h2>
			<ul class="list-staff">
				<li class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel/img-08.png" alt="ラドガーナ　クラウディア">
					<h3 class="ttl-staff">ラドガーナ　クラウディア</h3>
					<p>
						母国のイタリアにいたころからずっと旅行業で働いてきましたが、旅行の一番好きな部分は「宿」に泊まることです。<br>
						ずっとプレイヤーとして関わりたくて、決心して宿泊業に転身しました。<br>
						私自身が旅行を計画するとき宿選びにワクワクするように、皆様にもplat hostel keikyuをワクワクしながらお選びいただきたいです。その気持ちが私の原動力です！
					</p>
				</li>
				<li class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel/img-09.png" alt="佐藤　あずさ">
					<h3 class="ttl-staff">佐藤　あずさ</h3>
					<p>
						また次の時にも泊まりたいな、と思ってもらえるようなホステルづくりをしていきます。ホステルが初めての方でも安心して泊まっていただけるようなホステルで皆様をお待ちしております。また、旅行を彩れるようなご提案も一緒にしていきますので、困ったことやわからないことがあればご相談下さい！
					</p>
				</li>
				<li class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel/img-10.png" alt="ホランド　まり">
					<h3 class="ttl-staff">ホランド　まり</h3>
					<p>
						宿は旅の大切な一つの思い出。家族のように、訪れた皆さんをお迎えできるよう心掛けています。<br>
						ここに来て良かったと感じていただける安心と心地良さを、そしていつでも戻ってきたくなるような価値を提供したいです。
					</p>
				</li>
				<li class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel/img-11.png" alt="堂前　賢太">
					<h3 class="ttl-staff">堂前　賢太</h3>
					<p>
						学生時代に国内のゲストハウスやホステルをよく利用していました。<br>
						訪れる旅行者がより良い思い出をつくれるように街とお客様を結ぶ架け橋になれたら、と思っています。
					</p>
				</li>
			</ul>
		</div>
	</section>
</main>

















