<main class="page-<%= pageData.template %>">
	<section class="sec-visual">
		<div class="img-mv-qa">
			<img src="<%= RELATIVE_PATH %>img/qa/mv.jpg" alt="Information">
			<h1 class="ttl">
				<img src="<%= RELATIVE_PATH %>img/contact/ttl-mv.png" alt="Information">
			</h1>
		</div>
	</section>
	<section class="sec-contact-main">
		<div class="inner inner-1080">
			<h2 class="ttl-qa">
				<small>お問い合わせ</small>
				information
			</h2>
			<div class="box-form-contact">
				<span class="question-recent">＞ よくあるお問い合わせ</span>
				<form action="" class="main-form">
					<div class="item">
						<label for="">
							お名前
							<span class="note">(必須)</span>
						</label>
						<div class="input">
							<input type="text" placeholder="入力してください。" name="">
						</div>
					</div>
					<div class="item">
						<label for="">
							メールアドレス
							<span class="note">(必須)</span>
						</label>
						<div class="input">
							<input type="text" placeholder="入力してください。" name="">
						</div>
					</div>
					<div class="item">
						<label for="">電話番号</label>
						<div class="input">
							<input type="text" placeholder="入力してください。" name="">
						</div>
					</div>
					<div class="item">
						<label for="">
							お問い合わせ項目
							<span class="note">(必須)</span>
						</label>
						<div class="input">
							<span class="input-select">入力してください。</span>
							<ul class="list-option">
								<li>施設利用に関するご質問</li>
								<li>団体利用に関するご質問</li>
								<li>宿泊後のご連絡</li>
								<li>取材のお問い合わせ</li>
								<li>その他　<span class="note">必須</span></li>
							</ul>
						</div>
					</div>
					<div class="item">
						<label for="">ホステル名を選択してください</label>
						<div class="input">
							<div class="box-select">
								<span class="box-select-heading"> 選択してください。</span>
								<ul class="box-select-content">
									<li>plat hostel keikyu asakusa karin</li>
									<li>plat hostel keikyu asakusa station</li>
									<li>plat hostel keikyu asakusa forest</li>
									<li>plat hostel keikyu asakusa haneda home</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item">
						<input type="checkbox" id="c1" name="cc">
						<label for="c1">
							<span></span>
							お問い合わせ内容
						</label>
						<div class="input">
							<textarea name="" id="" cols="30" rows="10" placeholder="入力してください。"></textarea>
						</div>
					</div>
					<div class="item">
						<div class="btn-submit">
							<button type="submit" value="Submit">アイディアはある</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
