<main class="page-<%= pageData.template %>">
	<section class="sec-visual">
		<div class="img-mv-greeting">
			<img src="<%= RELATIVE_PATH %>img/greeting/img-03.jpg" alt="img">
			<div class="inner">
				<h1 class="ttl txt-center">
					<img src="<%= RELATIVE_PATH %>img/greeting/ttl-02.png" alt="img">
				</h1>
			</div>
		</div>
	</section>
	<section class="sec-greeting">
		<div class="inner">
			<div class="greeting-detail">
				<p>
					京浜急行電鉄株式会社（以下，「京急電鉄」といいます。）は，2018年２月25日に創立120周年を迎えました。2018年度は訪日外国人数が過去最多の3,000万人を超え，さらに2020年度には4,000万人を超える目標を政府が発表している一方，ホテルの客室数不足，宿泊費の高騰が叫ばれております。<br>
					京急電鉄は，京急グループが新規物件の取得，または既存物件をホステルにリノベーションする手法で，バックパッカーのみならず，カップルや家族連れなどの多様化する宿泊ニーズに対応いたします。
				</p>
				<div class="item-greeting">
					<div class="item">
						<img src="<%= RELATIVE_PATH %>img/greeting/img-02.jpg" alt="img">
					</div>
					<div class="item">
						<img src="<%= RELATIVE_PATH %>img/greeting/item.png" alt="img">
					</div>
				</div>
				<p>
					ホステルチェーンの名称は，プラットホームの platと，“ぷらっと”気軽に利用できるホステルを目指し，「plat hostel keikyu」と名付けました。<br>
					「ここは終点ではなく，旅はまだ途中で，ほかの駅へと続いていく」という思いを込め，今後京急電鉄沿線に展開していくホステルとの繋がりを表現しました。また，インバウンドのゲストにも親しみやすい名称です。<br>
					ロゴマークは，ひとつのホステルをステーションと捉え，未来に繋がっていくレールのように，旅行そして人生を共にするという思いを込めたデザインです。<br>
					京急電鉄は，「plat hostel keikyu」の運営を京急グループの株式会社Ｒバンク（以下，「Ｒバンク」といいます。）に委託しております。Rバンクは2018年4月に京急グループに入った会社で，シェアハウスのコーディネートと運営の実績等により，空間づくりやコミュニティ形成のノウハウを豊富に有する会社です。Ｒバンクの運営により，plat hostel keikyuは，インバウンドのお客様，カップルや家族連れなど多様化する宿泊ニーズに対応し，リピート・ご紹介をたくさん頂けるホステル運営を行ってまいります。
				</p>
			</div>
		</div>
	</section>
</main>