<main class="page-<%= pageData.template %>">
	<section class="sec-visual mbpc-23 mbsp-15">
		<img style="width: 100%;" src="<%= RELATIVE_PATH %>img/hostel-02/mv.png" alt="img">
		<h1 class="headding-mv">
			今すぐ
			<span>予約する</span>
		</h1>
	</section>
	
	<% include common/_breadcrumb.ejs %>
	
	<section class="box-schedule">
		<div class="inner inner-1180">
			<div class="heading-schedule">
                <span class="img-sd">
                    <img src="<%= RELATIVE_PATH %>img/hostel-02/img-01.png" alt="plat hostel keikyu asakusa karin">
                </span>
				<span class="text-sd">
                    plat hostel keikyu<br>
                    asakusa karin
                </span>
			</div>
			<div class="slider-schedule slider-for">
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-01.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-02.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-03.png" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-04.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-05.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
			</div>
			<div class="slider-schedule slider-nav">
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-01.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-02.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-03.png" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-04.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
				<div class="item">
					<img src="<%= RELATIVE_PATH %>img/hostel-02/slider-05.jpg" alt="屋上からはスカイツリーも綺麗に見えます">
				</div>
			</div>
			<h2 class="ttl-slider">“屋上からはスカイツリーも綺麗に見えます”</h2>
			<p class="txtBase03">
				42名定員と小規模でありながら、色々な利用シーンを想定して部屋タイプを豊富に取り揃えました。<br>
				共有スペースは、ラウンジのほかにキッチン、ランドリーなどを用意しており、長期滞在の方も過ごしやすいホステルです。<br>
				ホステルの屋上からは、スカイツリーがとても綺麗に見えます。ご宿泊の際はぜひ屋上にも行ってみてください。<br>
				※屋上の利用時間は8：00～22：00となっております。
			</p>
		</div>
	</section>
	<section class="sec-content">
		<div class="inner inner-1180">
			<div class="block-content">
				<div class="content-left">
					<div class="box-access">
						<h2 class="heading-block mbpc-67">
							<span class="jp">アクセス</span>
							<span class="en">access</span>
						</h2>
						<div class="flex-access">
							<ul class="list-access">
								<li>
									<span class="ttl">浅草寺</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-01.png"alt="icon-user"> 徒歩<span class="number">10</span>分</span>
								</li>
								<li>
									<span class="ttl">スカイツリー</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-01.png"
									                        alt="icon-user"> 徒歩<span class="number">15</span>分</span>
								</li>
								<li>
									<span class="ttl">渋谷駅</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">40</span>分</span>
								</li>
								<li>
									<span class="ttl">秋葉原駅</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">10</span>分</span>
								</li>
							</ul>
							<div class="img-access">
								<img src="<%= RELATIVE_PATH %>img/hostel-02/img-02.png" alt="">
							</div>
							<ul class="list-access list-access02">
								<li>
									<span class="ttl"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-03.png"
									                       alt="icon-user"> 羽田空港</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">45</span>分</span>
								</li>
								<li>
									<span class="ttl"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-03.png"
									                       alt="icon-user"> 成田空港</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">75</span>分</span>
								</li>
								<li>
									<span class="ttl">東京駅</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">15</span>分</span>
								</li>
								<li>
									<span class="ttl">品川駅</span>
									<span class="desc"><img src="<%= RELATIVE_PATH %>img/hostel-02/icon-02.png"
									                        alt="icon-user"> 電車<span class="number">20</span>分</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="box-information">
						<h3 class="ttl-info">基本情報</h3>
						<div class="table-info">
							<dl>
								<dt>電話番号</dt>
								<dd>
									<a href="tel:03-3622-3735 ">03-3622-3735 </a>
								</dd>
							</dl>
							<dl>
								<dt>フロント営業時間</dt>
								<dd>8：00　 ー　23：00</dd>
							</dl>
							<dl>
								<dt>チェックイン</dt>
								<dd>16：00　ー　23：00</dd>
							</dl>
							<dl>
								<dt>チェックアウト</dt>
								<dd>11：00まで</dd>
							</dl>
							<dl>
								<dt>設備・備考</dt>
								<dd>ラウンジ 、 キッチン 、 ランドリー 、 屋上 、 荷物預かり(有料) 、 FAX/コピー(有料)</dd>
							</dl>
						</div>
					</div>
					<div class="box-room">
						<h2 class="heading-block">
							<span class="jp">客室紹介</span>
							<span class="en">room</span>
						</h2>
						<div class="list-room">
							<div class="item-room">
								<h3 class="ttl-info">デラックスダブル</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-03.png" alt="デラックスダブル">
									</div>
									<div class="text">
										<p>
											女性の過ごしやすさを優先に、寝心地のいいダブルベッドとホステルではなかなかない室内シャワールーム、トイレも完備。特別なワンランク上のアメニティも無料でご用意し、パナソニックの美容家電もご利用いただけます。</p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd>8,000円～10,000円</dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>冷蔵庫</li>
														<li>ドライヤー</li>
														<li>電気ポット</li>
														<li>アメニティ一式</li>
														<li>トイレ</li>
														<li>シャワー</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>2名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>11.83㎡～13.79㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
							<div class="item-room">
								<h3 class="ttl-info">スタンダードダブルルーム ／ スモールダブルルーム</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-04.png"
										     alt="スタンダードダブルルーム ／ スモールダブルルーム">
									</div>
									<div class="text">
										<p>
											シャワー、トイレは共用でご利用いただきますが、室内は落ち着いたインテリアで、ゆったりとお過ごしいただけます。シティーホテル、ビジネスホテルよりお手頃ですが、ドミトリーよりプライバシーとゆったり感があるお部屋です。</p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd>6,000円～8,000円</dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>冷蔵庫</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>2名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>6.91㎡～11.64㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
							<div class="item-room">
								<h3 class="ttl-info">スーペリア４人部屋</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-05.png" alt="スーペリア４人部屋">
									</div>
									<div class="text">
										<p>2 台の 2 段ベッドで家族や友達などのグループに人気のある4 人部屋です。 室内にシャワー、トイレを完備しておりますので、とてもくつろげます。 </p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd></dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>冷蔵庫</li>
														<li>トイレ</li>
														<li>シャワー</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>2名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>15.11㎡～18.25㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
							<div class="item-room">
								<h3 class="ttl-info">スタンダード4人部屋</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-06.png" alt="スタンダード4人部屋">
									</div>
									<div class="text">
										<p>2 台の 2 段ベッドで家族や友達などのグループに人気のある4 人部屋です。 </p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd></dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>冷蔵庫</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>4名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>14.55～16.91㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
							<div class="item-room">
								<h3 class="ttl-info">女性専用ドミトリールーム</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-07.png" alt="女性専用ドミトリールーム">
									</div>
									<div class="text">
										<p>女性専用ドミトリー （４ベッド）は女性おひとりでも安心してお手頃な料金で宿泊できるお部屋です。枕元には読書灯、 貴重品ロッカーとUSB
											式コンセントを用意しています。</p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd>2,000円～3,200円</dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>冷蔵庫</li>
														<li>トイレ</li>
														<li>セーフティーボックス</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>4名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>14.55㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
							<div class="item-room">
								<h3 class="ttl-info">男女共用ドミトリールーム</h3>
								<div class="flex-room">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/img-10.png" alt="男女共用ドミトリールーム">
									</div>
									<div class="text">
										<p>男女共用ドミトリー（12 ベッド）はお手頃な料金で宿泊できて、ゲスト同士の交流を育むお部屋です。枕元には読書灯、 貴重品ロッカーとUSB
											式コンセントを用意しています。 </p>
										<div class="table-info">
											<dl>
												<dt>料金</dt>
												<dd>2,000円～3,200円</dd>
											</dl>
											<dl>
												<dt>設備</dt>
												<dd>
													<ul>
														<li>Wi-Fi</li>
														<li>セーフティーボックス</li>
													</ul>
												</dd>
											</dl>
											<dl>
												<dt>定員</dt>
												<dd>12名</dd>
											</dl>
											<dl>
												<dt>広さ</dt>
												<dd>27.08㎡</dd>
											</dl>
											<span class="note">※参考までの料金です。日にちや季節によって変動があります。</span>
										</div>
									</div>
								</div>
								<div class="btn-style02">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/hostel-02/icon-btn.png" alt="icon-btn">
										今すぐ予約する
									</a>
								</div>
							</div>
						</div>
						<div class="box-event">
							<h2 class="heading-block">
								<span class="jp">イベント</span>
								<span class="en">event</span>
							</h2>
							<ul class="even-list even-list-02">
								<li class="item">
									<span class="ttl">2019年11月25日</span>
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="img">
									</div>
									<div class="txt-basic">
										<span class="note">店舗：asakusa karin</span>
										<a href="" class="ttl-item">
											2019年12月18日 鍋パーティー開催
										</a>
										<p>
											こんばんは！<br>
											11月末なのに、東京はなんだかまだそんなに寒くないですね。...
										</p>
									</div>
								</li>
								<li class="item">
									<span class="ttl">2019年11月25日</span>
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="img">
									</div>
									<div class="txt-basic">
										<span class="note">店舗：asakusa karin</span>
										<a href="" class="ttl-item">
											2019年12月18日 鍋パーティー開催
										</a>
										<p>
											こんばんは！<br>
											11月末なのに、東京はなんだかまだそんなに寒くないですね。...
										</p>
									</div>
								</li>
								<li class="item">
									<span class="ttl">2019年11月25日</span>
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="img">
									</div>
									<div class="txt-basic">
										<span class="note">店舗：asakusa karin</span>
										<a href="" class="ttl-item">
											2019年12月18日 鍋パーティー開催
										</a>
										<p>
											こんばんは！<br>
											11月末なのに、東京はなんだかまだそんなに寒くないですね。...
										</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="box-ggmap">
							<h2 class="heading-block">
								<span class="jp">地図</span>
								<span class="en">map</span>
							</h2>
							<p>address：東京都墨田区東駒形2-11-2 </p>
							<div class="gg-map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.789843235983!2d139.79749151568873!3d35.7067888801884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ecf22c33729%3A0x7e6e328d6accd135!2z5pel5pys44CB44CSMTMwLTAwMDUg5p2x5Lqs6YO95aKo55Sw5Yy65p2x6aeS5b2i77yS5LiB55uu77yR77yR4oiS77yS!5e0!3m2!1sja!2s!4v1576685676589!5m2!1sja!2s"
								        width="100%" height="350" frameborder="0" style="border:0;"
								        allowfullscreen=""></iframe>
							</div>
							<p>
								<span>アクセス</span>
								<span>都営浅草線A2番出口より　徒歩6分<br>東京メトロ銀座線浅草駅　4番出口より　徒歩8分</span>
							</p>
						</div>
						<ul class="even-list even-list-02">
							<li class="item">
								<div class="img">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/index/item-04.png" alt="img">
									</a>
								</div>
							</li>
							<li class="item">
								<div class="img">
									<a href="">
										<img src="<%= RELATIVE_PATH %>img/index/item-05.png" alt="img">
									</a>
								</div>
							</li>
						</ul>
						<div class="txt-contact">
							お問い合わせ <br>
							TEL：<a href="tel:03-3622-3735">03-3622-3735</a> <br>
							フロント営業時間：8:00-23:00
						</div>
						
						<div class="img-instagram">
							<img src="<%= RELATIVE_PATH %>img/hostel-02/img-08.png" alt="instagram">
						</div>
					</div>
				</div>
				<div class="content-right">
					<% include common/_sidebar.ejs %>
				</div>
			</div>
		</div>
	</section>
</main>
