<main class="page-<%= pageData.template %>">
	<section class="sec-mv mb-0">
		<h1 class="mv_ttl">
			<img src="<%= RELATIVE_PATH %>img/list/mv.png" alt="hostel list">
		</h1>
	</section>
	
	<section class="sec-list">
		<div class="inner inner-1280">
			<div class="hostel-block">
				<div class="hostel-block_list">
					<div class="hostel-block_item">
						<div class="hostel-block_head">
							<span class="hostel-block_date">・2019.3 <small>＞＞</small></span>
							<h2 class="hostel-block_ttl">
								1号店が浅草にオープン！
							</h2>
						</div>
						<div class="hostel-block_body">
							<div class="hostel-block_img">
								<img src="<%= RELATIVE_PATH %>img/list/list-img01.png" alt="1号店が浅草にオープン！">
							</div>
							<div class="hostel-block_content">
								<div class="hostel-block_top">
									<div class="hostel-block_logo">
										<img src="<%= RELATIVE_PATH %>img/list/list-logo01.png" alt="plat hostel keikyu asakusa karin">
									</div>
									<p>
										plat hostel keikyu asakusa karin
									</p>
								</div>
								<div class="hostel-block_txt">
									<p>
										<span class="ttl">エリア　　：</span>
										<span>
											浅草
										</span>
									</p>
									<p>
										<span class="ttl">アクセス　：</span>
										<span>
											都営浅草線「浅草」駅　徒歩5分
										</span>
									</p>
									<p>
										<span class="ttl">部屋タイプ：</span>
										<span>
											ドミトリー、ファミリールーム、ダブルルーム等
										</span>
									</p>
								</div>
								<a href="" class="hostel-block_btn btn-type02">詳細ページへ</a>
							</div>
						</div>
					</div>
					<div class="hostel-block_item">
						<div class="hostel-block_head">
							<span class="hostel-block_date">・2019.9 <small>＞＞</small></span>
							<h2 class="hostel-block_ttl">
								2号店が浅草にオープン!
							</h2>
						</div>
						<div class="hostel-block_body">
							<div class="hostel-block_img">
								<img src="<%= RELATIVE_PATH %>img/list/list-img02.png" alt="2号店が浅草にオープン!">
							</div>
							<div class="hostel-block_content">
								<div class="hostel-block_top">
									<div class="hostel-block_logo">
										<img src="<%= RELATIVE_PATH %>img/list/list-logo02.png" alt="plat hostel keikyu asakusa station">
									</div>
									<p>
										plat hostel keikyu asakusa station
									</p>
								</div>
								<div class="hostel-block_txt">
									<p>
										<span class="ttl">エリア　　：</span>
										<span>
											浅草
										</span>
									</p>
									<p>
										<span class="ttl">アクセス　：</span>
										<span>
											東京メトロ銀座線「田原町」駅　徒歩5分
										</span>
									</p>
									<p>
										<span class="ttl">部屋タイプ：</span>
										<span>
											ドミトリー、　セミプライベートツイン　、ダブルルーム
										</span>
									</p>
								</div>
								<a href="" class="hostel-block_btn btn-type02">詳細ページへ</a>
							</div>
						</div>
					</div>
					<div class="hostel-block_item">
						<div class="hostel-block_head">
							<span class="hostel-block_date">・2020.1 <small>＞＞</small></span>
							<h2 class="hostel-block_ttl">
								3号店が三ノ輪にオープン！
							</h2>
						</div>
						<div class="hostel-block_body">
							<div class="hostel-block_img">
								<img src="<%= RELATIVE_PATH %>img/list/list-img03.png" alt="3号店が三ノ輪にオープン！">
							</div>
							<div class="hostel-block_content">
								<div class="hostel-block_top">
									<div class="hostel-block_logo">
										<img src="<%= RELATIVE_PATH %>img/list/list-logo03.png" alt="plat hostel keikyu minowa forest">
									</div>
									<p>
										plat hostel keikyu minowa forest
									</p>
								</div>
								<div class="hostel-block_txt">
									<p>
										<span class="ttl">エリア　　：</span>
										<span>
											浅草
										</span>
									</p>
									<p>
										<span class="ttl">アクセス　：</span>
										<span>
											東京メトロ日比谷線「三ノ輪」駅　徒歩6分
										</span>
									</p>
									<p>
										<span class="ttl">部屋タイプ：</span>
										<span>
											ツインルーム　、ダブルルーム等
										</span>
									</p>
								</div>
								<a href="" class="hostel-block_btn btn-type02">詳細ページへ</a>
							</div>
						</div>
					</div>
					<div class="hostel-block_item">
						<div class="hostel-block_head">
							<span class="hostel-block_date">・2020.3 <small>＞＞</small></span>
							<h2 class="hostel-block_ttl">
								4号店が羽田にオープン！
							</h2>
						</div>
						<div class="hostel-block_body">
							<div class="hostel-block_img">
								<img src="<%= RELATIVE_PATH %>img/list/list-img04.png" alt="4号店が羽田にオープン！">
							</div>
							<div class="hostel-block_content">
								<div class="hostel-block_top">
									<div class="hostel-block_logo">
										<img src="<%= RELATIVE_PATH %>img/list/list-logo04.png" alt="plat hostel keikyu haneda home">
									</div>
									<p>
										plat hostel keikyu haneda home
									</p>
								</div>
								<div class="hostel-block_txt">
									<p>
										<span class="ttl">エリア　　：</span>
										<span>
											羽田空港
										</span>
									</p>
									<p>
										<span class="ttl">アクセス　：</span>
										<span>
											京急空港線「穴守稲荷」駅　徒歩7分<br>
											羽田空港行きバス停「弁天橋」前
										</span>
									</p>
									<p>
										<span class="ttl">部屋タイプ：</span>
										<span>
											ドミトリー、　ダブルルーム、　ファミリールーム等
										</span>
									</p>
								</div>
								<a href="" class="hostel-block_btn btn-type02">詳細ページへ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="sec-search">
		<div class="inner inner-1080">
			<h2 class="search_ttl heading-block mbpc-65">
				<span class="jp">用途別ホステル検索</span>
				<span class="en">search</span>
			</h2>
			
			<div class="search-box">
				<h3 class="search-box_ttl">
					<img src="<%= RELATIVE_PATH %>img/list/ico-search.png" alt="img">
					用途から選ぶ
				</h3>
				<ul class="search-box_list">
					<li class="search-box_item">
						<a href="">
							<span>
								一人旅におすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								家族におすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								女子旅におすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								友達同士におすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								カップルにおすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								長期滞在におすすめ
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								グループにおすすめ
							</span>
						</a>
					</li>
				</ul>
				
			</div>
			
			<div class="search-box">
				<h3 class="search-box_ttl">
					<img src="<%= RELATIVE_PATH %>img/list/ico-search.png" alt="img">
					設備から選ぶ
				</h3>
				<ul class="search-box_list">
					<li class="search-box_item">
						<a href="">
							<span>
								水回り付きの部屋がある
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								ミニキッチン付きの部屋がある
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								テレビ付きの部屋がある
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								loTが体験できる
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								作業スペースがある
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								屋上・テラスがある
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="search-box">
				<h3 class="search-box_ttl">
					<img src="<%= RELATIVE_PATH %>img/list/ico-search.png" alt="img">
					立地から選ぶ
				</h3>
				<ul class="search-box_list">
					<li class="search-box_item">
						<a href="">
							<span>
								駅から徒歩5分以内
							</span>
						</a>
					</li>
					<li class="search-box_item">
						<a href="">
							<span>
								地元のグルメが楽しめる
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>