<main class="page-<%= pageData.template %>">
	<section class="sec-visual">
		<ul class="slider-home slider">
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-mv-01.jpg" alt="img">
			</li>
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-mv-02.jpg" alt="img">
			</li>
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-mv-03.jpg" alt="img">
			</li>
		</ul>
	</section>
	<section class="sec-map">
		<div class="map-item">
			<div class="inner">
				<h2 class="heading-block">
					<span class="jp">ホステル一覧</span>
					<span class="en">hostel map</span>
				</h2>
				<div class="parent-item">
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/item-map.png" alt="img">
					</div>
					<div class="txt">
						<h3 class="ttl">
							plat hostel keikyu<br>
							asakusa karin
						</h3>
						<a href="">東京都　浅草エリア</a>
					</div>
				</div>
			</div>
			<img src="<%= RELATIVE_PATH %>img/index/map.png" alt="img">
		</div>
		<div class="inner">
			<ul class="list-map">
				<li class="item">
					<div class="parent-item">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/item-01.png" alt="img">
						</div>
						<div class="txt">
							<h3 class="ttl">
								plat hostel keikyu<br>
								haneda home
							</h3>
							<a href="" class="bg-green">東京都　浅草エリア</a>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="parent-item">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/item-02.png" alt="img">
						</div>
						<div class="txt">
							<h3 class="ttl">
								plat hostel keikyu<br>
								minowa forest
							</h3>
							<a href="" class="">東京都　浅草エリア</a>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="parent-item">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/item-03.png" alt="img">
						</div>
						<div class="txt">
							<h3 class="ttl">
								plat hostel keikyu<br>
								haneda home
							</h3>
							<a href="" class="bg-gray">東京都　浅草エリア</a>
						</div>
					</div>
				</li>
				<li class="item">
					<div class="parent-item">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/item-01.png" alt="img">
						</div>
						<div class="txt">
							<h3 class="ttl">
								plat hostel keikyu<br>
								asakusa station
							</h3>
							<a href="" class="">東京都　浅草エリア</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-orientation">
		<div class="inner">
			<div class="orientation-block">
				<div class="txt-basic">
					<h2 class="ttl">
						<img src="<%= RELATIVE_PATH %>img/index/ttl-img.png" alt="ぷらっと　“気軽に利用できる”">
					</h2>
					<p>
						女性に優しいプチ贅沢の宿、<br>
						家族やカップルで気軽にゆったりと<br>
						コミュニケーションを取りたい一人旅も大歓迎
					</p>
				</div>
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/index/orientation-img.png" alt="img">
				</div>
			</div>
		</div>
		<ul class="orientation-item">
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-01.jpg" alt="img">
			</li>
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-02.jpg" alt="img">
			</li>
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-03.jpg" alt="img">
			</li>
			<li class="item">
				<img src="<%= RELATIVE_PATH %>img/index/img-01.jpg" alt="img">
			</li>
		</ul>
	</section>
	<section class="sec-content">
		<div class="inner inner-1080">
			<div class="block-content">
				<div class="content-left">
					<h2 class="heading-block border">
						<span class="jp">ニュース</span>
						<span class="en">news</span>
					</h2>
					<ul class="news">
						<li class="item">
							<a href="" class="ttl">
								<span class="note">new</span>
								<div class="link">
									<span class="date">
										2020年1月16日
									</span>
									<span class="txt">
										plat hostel keikyu minowa forestオープン記念プロモーションのご案内
									</span>
								</div>
							</a>
							<p>
								2020年1月16日、plat hostel keikyu第3弾「plat hostel keikyu minowa forest」がオープンいたします！<br>
								全てダブル・ツイン・トリプルの個室で、ゆったりでプライバシーが守られる宿泊を様々なニーズの...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">new</span>
								<div class="link">
									<span class="date">
										2020年1月1日
									</span>
									<span class="txt">
										ライブ、スポーツ試合観戦者限定！荷物預かり無料、疲れを癒すグッズ付きのご案内
									</span>
								</div>
							</a>
							<p>
								東京でのライブやスポーツ観戦の際のご利用のお客様専に多くお越しいただいております、<br class="pc">
								そんな方々のニーズに応えるべく、新しいプランが登場！...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">topics</span>
								<div class="link">
									<span class="date">
										2019年11月25日
									</span>
									<span class="txt">
										メッセージボード
									</span>
								</div>
							</a>
							<p>
								plat hostel keikyu では、各ホステルにメッセージボードというものがあります。<br>
								ホステルではたくさんのゲストさまにご宿泊していただき、毎日出会いと別れがあります。...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">release</span>
								<div class="link">
									<span class="date">
										2019年8月27日
									</span>
									<span class="txt">
										京急グループのホステル2号店「plat hostel keikyu asakusa station」がオープン
									</span>
								</div>
							</a>
							<p>
								京浜急行電鉄株式会社（本社：東京都港区、社長：原田　一之、以下
								京急電鉄）は、事業展開するホステルチェーンの2号店として、2019年9月4日（水）に東京都台東区において「plat hostel keikyu asakusa
								station」を開業いたします。...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">release</span>
								<div class="link">
									<span class="date">
										2019年2月7日
									</span>
									<span class="txt">
										京急グループがホステル事業部に新規参入！第1弾　浅草エリアに2019年3月22日オープン
									</span>
								</div>
							</a>
							<p>
								京浜急行電鉄株式会社（本社：東京都港区，社長：原田　一之，以下 京急電鉄）は，訪日外国人の増加にともない，需要の高まりが見込まれるホステル事業に進出いたします。...
							</p>
						</li>
					</ul>
					<h2 class="heading-block mbpc-100">
						<span class="jp">イベント＆レポート</span>
						<span class="en">event & report</span>
					</h2>
					<div class="representative">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/img-04.jpg" alt="img">
						</div>
						<p class="txt-right">
							▲　0000.00.00　□□□□□□イベント
						</p>
					</div>
					<div class="note-representative">
						<p>
							ホステル一覧ホステル一覧ホステル一覧ホステル一覧
						</p>
					</div>
					<ul class="even-list">
						<li class="item">
							<span class="ttl">2019年11月25日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									2019年12月18日 鍋パーティー開催
								</a>
								<p>
									こんばんは！<br>
									11月末なのに、東京はなんだかまだそんなに寒くないですね。...
								</p>
							</div>
						</li>
					</ul>
					<div class="note-representative mbpc-76">
						<p>
							過去記事はこちら ▼
						</p>
					</div>
					<ul class="even-list">
						<li class="item">
							<span class="ttl">2019年11月1日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-08.jpg" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									plat 辛ラーメン cup
								</a>
								<p>
									こんばんは！
									plat hostel keikyuのスタッフたちが大好きなのが、こちら。...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年10月23日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-09.jpg" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa station</span>
								<a href="" class="ttl-item">
									うどんパーティー
								</a>
								<p>
									こんにちは～！<br>
									ある日の午後、みんなでうどんを作ろうよ！となり、どうせなら粉からやりたいね。　...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年10月18日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-10.jpg" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa station</span>
								<a href="" class="ttl-item">
									plat pasta cup開催！
								</a>
								<p>
									何事も“もてなす”ことと“競争”が大好きなplat hostel keikyuのスタッフたち。　...
								</p>
							</div>
						</li>
					</ul>
					<ul class="even-list even-list-02 mbpc-74">
						<li class="item">
							<div class="img">
								<a href="">
									<img src="<%= RELATIVE_PATH %>img/index/item-04.png" alt="img">
								</a>
							</div>
						</li>
						<li class="item">
							<div class="img">
								<a href="">
									<img src="<%= RELATIVE_PATH %>img/index/item-05.png" alt="img">
								</a>
							</div>
						</li>
						<li class="item">
							<div class="img">
								<a href="">
									<img src="<%= RELATIVE_PATH %>img/index/item-06.png" alt="img">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-right">
					<% include common/_sidebar.ejs %>
				</div>
			</div>
		</div>
	</section>
</main>