<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<h1 class="mv_ttl">
			<img src="<%= RELATIVE_PATH %>img/news/index/mv.png" alt="news & event">
		</h1>
	</section>
	
	<section class="sec-news">
		<div class="inner inner-1180">
			<div class="block-content block-content-second">
				<div class="content-left">
					<h2 class="heading-block border mbpc-98">
						<span class="jp">ニュース</span>
						<span class="en">news</span>
					</h2>
					<ul class="news news-second">
						<li class="item">
							<a href="" class="ttl">
								<span class="note">news</span>
								<div class="link">
									<span class="date">
										2020年1月16日
									</span>
									<span class="txt">
										plat hostel keikyu minowa forestオープン記念プロモーションのご案内
									</span>
								</div>
							</a>
							<p>
								全てダブル・ツイン・トリプルの個室で、ゆったりでプライバシーが守られる宿泊を様々なニーズのお客様に提供いたします。
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">news</span>
								<div class="link">
									<span class="date">
										2020年1月1日
									</span>
									<span class="txt">
										ライブ、スポーツ試合観戦者限定！荷物預かり無料、疲れを癒すグッズ付きのご案内
									</span>
								</div>
							</a>
							<p>
								東京でのライブやスポーツ観戦の際のご利用のお客様専に多くお越しいただいております、<br>
								そんな方々のニーズに応えるべく、新しいプランが登場！...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">topics</span>
								<div class="link">
									<span class="date">
										2019年11月25日
									</span>
									<span class="txt">
										メッセージボード
									</span>
								</div>
							</a>
							<p>
								plat hostel keikyu では、各ホステルにメッセージボードというものがあります。<br>
								ホステルではたくさんのゲストさまにご宿泊していただき、毎日出会いと別れがあります。...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">release</span>
								<div class="link">
									<span class="date">
										2019年8月27日
									</span>
									<span class="txt">
										京急グループのホステル2号店「plat hostel keikyu asakusa station」がオープン
									</span>
								</div>
							</a>
							<p>
								京浜急行電鉄株式会社（本社：東京都港区、社長：原田　一之、以下 京急電鉄）は、事業展開するホステルチェーンの2号店として、2019年9月4日（水）に東京都台東区において「plat hostel keikyu asakusa station」を開業いたします。...
							</p>
						</li>
						<li class="item">
							<a href="" class="ttl">
								<span class="note">release</span>
								<div class="link">
									<span class="date">
										2019年2月7日
									</span>
									<span class="txt">
										京急グループがホステル事業部に新規参入！第1弾　浅草エリアに2019年3月22日オープン
									</span>
								</div>
							</a>
							<p>
								京浜急行電鉄株式会社（本社：東京都港区，社長：原田　一之，以下 京急電鉄）は，訪日外国人の増加にともない，需要の高まりが見込まれるホステル事業に進出いたします。...
							</p>
						</li>
					</ul>
					
					<h2 class="heading-block border mbpc-115">
						<span class="jp">イベント</span>
						<span class="en">event</span>
						<a href="" class="heading-block_link">
							一覧
						</a>
					</h2>
					<ul class="even-list even-list-second">
						<li class="item">
							<span class="ttl">2019年11月25日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/even-img01.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									2019年12月18日 鍋パーティー開催
								</a>
								<p>
									こんばんは！<br>
									11月末なのに、東京はなんだかまだそんなに寒くないですね。...
								</p>
							</div>
						</li>
					</ul>
					
					<h2 class="heading-block border mbpc-115">
						<span class="jp">レポート＆トピックス</span>
						<span class="en">report & topics</span>
						<a href="" class="heading-block_link">
							一覧
						</a>
					</h2>
					<ul class="even-list even-list-second">
						<li class="item">
							<span class="ttl">2019年11月1日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/topic-img01.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									plat 辛ラーメン cup
								</a>
								<p>
									こんばんは！<br>
									plat hostel keikyuのスタッフたちが大好きなのが、こちら。...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年10月23日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/topic-img02.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa station</span>
								<a href="" class="ttl-item">
									うどんパーティー
								</a>
								<p>
									こんにちは～！<br>
									ある日の午後、みんなでうどんを作ろうよ！となり、どうせなら粉からやりたいね。　...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年10月18日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/topic-img03.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa station</span>
								<a href="" class="ttl-item">
									plat pasta cup開催！
								</a>
								<p>
									何事も“もてなす”ことと“競争”が大好きなplat hostel keikyuのスタッフたち。　...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年7月27日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/topic-img04.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									2019年隅田川花火大会
								</a>
								<p>
									こんにちは！<br>
									台風が直撃するかもしれないと心配していた今年の隅田川花火大会ですが、　...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">2019年6年28日</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/topic-img05.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：asakusa karin</span>
								<a href="" class="ttl-item">
									たこ焼きパーティー
								</a>
								<p>
									Plat hostel keikyu asakusa karinで第一回たこ焼きパーティーが開催されました！　...
								</p>
							</div>
						</li>
						<li class="item">
							<span class="ttl">□□□□□□□□</span>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/news/index/even-img02.png" alt="img">
							</div>
							<div class="txt-basic">
								<span class="note">店舗：□□□□□□□□□□□□</span>
								<a href="" class="ttl-item">
									□□□□□□□□□□□□□□□□□
								</a>
								<p>
									□□□□□□□□□□□□□□□□□□□
									□□□□□□□□□□□□□□□□□□□
									□□□□□□□□□　...
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-right">
					<% include common/_sidebar02.ejs %>
				</div>
			</div>
		</div>
	</section>
</main>