<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<h1 class="mv_ttl">
			<img src="<%= RELATIVE_PATH %>img/news/detail/mv.png" alt="event & report">
		</h1>
	</section>
	
	<section class="sec-news">
		<div class="inner inner-1180">
			<div class="block-content block-content-second">
				<div class="content-left">
					<div class="news-detail">
						<div class="news-detail_head">
							<span class="news-detail_date">
								2019.8.25
							</span>
							<h2 class="news-detail_ttl">
								【イベント報告】第２回plat cup
							</h2>
						</div>
						<div class="news-detail_body">
							<p>
								先日、第二回plat cupを開催しました！<br>
								まずは、みんなでクレープ作り&#9836;<br>
								スイーツ系とご飯系が楽しめるように、具もたくさん用意しました！
								<br><br><br>
								ハム、チーズ、たまご、ツナ、サラダに果物とあんことチョコ！<br>
								生クリームも作ったのですが、なにがどうなったのかバターが出来上がってしまいました…
								<br><br><br>
								どなたか原因をご存じの方は教えてください…！
								<br><br><br>
								本当に不思議でした。
								<br><br>
								甘いものとしょっぱいものを交互に食べれるのは幸せですね。<br>
								腹ごしらえが終わったら、みんなお待ちかねのplat cup本番です。
							</p>
							
							<img src="<%= RELATIVE_PATH %>img/news/detail/photo-01.png" alt="img">
							
							<p>
								この日はUNO対決でした。<br>
								ドイツから旅行中のご兄弟も一緒にレッツUNO！
								<br><br><br>
								ドイツ式ルールもやや混ざりながら、トーナメントを進めていきます。
								<br><br>
								plat cupはシード制なので、2名づつでゲームが進んでいきます。
								<br><br><br>
								その間、手が空いた人はゲームのセコンドとしてプレイヤーにつくということがたまに起きます。ゲームが弱い人にはこのセコンドが非常に重要になります。
								<br><br><br>
								今回の結果は上の表をご覧ください！
								<br><br><br>
								ホステルスタッフのゆめろう君が見事1位でした！！
								<br><br>
								次回は打倒！ゆめろうでいきましょう。
								<br><br><br>
								日ごろから、フロントにてカードゲームの貸し出しは行っていますのでお気軽にお声がけください♬
								<br><br>
								では、また来月のplat cupでお会いしましょう。
							</p>
							
							<img src="<%= RELATIVE_PATH %>img/news/detail/photo-02.png" alt="img">
						</div>
						<div class="news-detail_f">
							<div class="news-detail_logo">
								<img src="<%= RELATIVE_PATH %>img/news/detail/logo.png" alt="logo">
							</div>
							<p class="news-detail_txt">
								<small>
									実施店舗
								</small>
								plat hostel keikyu asakusa karin
							</p>
						</div>
					</div>
				</div>
				<div class="content-right">
					<% include common/_sidebar02.ejs %>
				</div>
			</div>
		</div>
	</section>
</main>