<main class="page-<%= pageData.template %>">
	<section class="sec-visual">
		<div class="img-mv-qa">
			<img src="<%= RELATIVE_PATH %>img/qa/mv.jpg" alt="QA">
			<h1 class="ttl">
				<img src="<%= RELATIVE_PATH %>img/qa/ttl-mv.png" alt="QA">
			</h1>
		</div>
	</section>
	<section class="sec-qa-main">
		<div class="inner inner-1080">
			<h2 class="ttl-qa">
				<small>よくあるご質問</small>
				Q&A
			</h2>
			<div class="box-list-qa">
				<div class="item">
					<div class="question">
						<span class="number">Q1.</span>
						<span class="txt">チェックイン・チェックアウト後に荷物を預けることができますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A1.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q2.</span>
						<span class="txt">洗濯機ありますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A2.</span>
							<span class="txt">はい、あります。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								全ホステルに有料で洗濯機をご用意しております。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q3.</span>
						<span class="txt">ホステルに荷物を郵送できますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A3.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								お荷物の到着日をお客様のチェックイン日に指定していただき、ご予約名を明記ください。また、郵送物は3辺の合計が80センチを超えますと荷物預かり同様、１つにつき200円いただきます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q4.</span>
						<span class="txt">キャンセル料はありますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A4.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q5.</span>
						<span class="txt">禁煙部屋はありますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A5.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q6.</span>
						<span class="txt">宿泊していない友人をホステルに招待してもいいですか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A6.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q7.</span>
						<span class="txt">キッチンや冷蔵庫はありますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A7.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q8.</span>
						<span class="txt">アメニティはありますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A8.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q9.</span>
						<span class="txt">子供は泊まれますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A9.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q10.</span>
						<span class="txt">ペットを連れて行ってもいいですか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A10.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q11.</span>
						<span class="txt">泊まりたい客室タイプが満室ですが、キャンセル待ちはできますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A11.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q12.</span>
						<span class="txt">団体での利用は可能ですか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A12.</span>
							<span class="txt">はい、できます。</span>
						</div>
						<div class="answer_content">
							<div class="box-txt">
								チェックイン日・チェックアウト日は１つの荷物につき200円でお預かり可能です。<br>チェックインの前後も観光を気軽に楽しんでいただけます。
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="question">
						<span class="number">Q13.</span>
						<span class="txt">どんな方が宿泊していますか？</span>
					</div>
					<div class="answer">
						<div class="answer_heading">
							<span class="number">A13.</span>
<!--							<span class="txt">はい、できます。</span>-->
						</div>
						<div class="answer_content">
							<div class="box-txt">
								日本の方が40％ 、アジアの方が30％ 、ヨーロッパの方が約20％ 、その他の方が約10％です。​20～30代を中心に、幅広い年代の方にご宿泊いただいています。​<br>
								女性と男性の割合は50％ずつとなっております。
							</div>
							<div class="list-chart">
								<div class="item">
									<span class="item_ttl">■ 宿泊者の国籍</span>
									<div class="item_img">
										<img src="<%= RELATIVE_PATH %>img/qa/pic01.png" alt="■ 宿泊者の国籍">
									</div>
								</div>
								<div class="item">
									<span class="item_ttl">■ 宿泊者の年齢</span>
									<div class="item_img">
										<img src="<%= RELATIVE_PATH %>img/qa/pic02.png" alt="■ 宿泊者の年齢">
									</div>
								</div>
								<div class="item">
									<span class="item_ttl">■ 宿泊者の性別</span>
									<div class="item_img">
										<img src="<%= RELATIVE_PATH %>img/qa/pic03.png" alt="■ 宿泊者の性別">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>